<div
  ng-style="{'background-image':'url(' + vm.mastHeadImage + ')'}"
  class="cp-lead-in-detail">

  <section>
    <div class="container">
      <div class="info-block">
        <header>
          <h5>{{vm.topLeft}}</h5>
          <span ng-if="vm.topRight">{{vm.topRight}}</span>
        </header>
        <article>
          <h2 class="ellipsis">
            {{vm.mastHeadTitle}}
          </h2>
        </article>
        <div class="pillars" ss-pillars-display="vm.pillars"></div>
      </div>
      <footer>
        <div class="effort"><span>{{vm.lowerLeft}}</span></div>
        <div class="action-items">
          <ss-save-user-content
            ng-if="vm.activity"
            ss-display-type="button"
            ss-display-content="vm.saveButtonDisplayContent"
            ss-is-user-namespace="vm.isUserNamespace"
            ss-item="vm.activity"
            ss-resource="vm.userResource"
            ss-is-saved="vm.isSaved"
            ss-plural-resource-name="vm.pluralResourceName"
            ss-saved-item="vm.savedItem">
          </ss-save-user-content>
        </div>
      </footer>
    </div>
  </section>
</div>

<!-- TODO: use a different class besides cp-content-drawer since this is not -->
<!-- technically drawer content -->
<div
  ng-if="!vm.savedItem"
  class="cp-content-drawer">

  <section class="container">
    <article>
      <div ng-bind-html="vm.section1Body" ></div>
      <h4>Benefits to Brain Health</h4>
      <div ng-bind-html="vm.benefitsToBrainHealth"></div>
      <hr>
      <h4>Want to dig a little deeper on this topic?</h4>
      <div data-ng-bind-html="vm.sourceMaterialsCitation"></div>
      <!-- TODO: proper styles for spacing before cp-content-group? -->
      <hr>
    </article>
  </section>
</div>

<div
  ng-if="vm.savedItem"
  class="cp-content-drawer">

  <section class="container">
    <a class="toggle-content-link" ng-click="vm.isContentDrawerOpen = !vm.isContentDrawerOpen">
      <span ng-if="!vm.isContentDrawerOpen" class="change-text">Show Activity Details<span class="caret caret-down"></span></span>
      <span ng-if="vm.isContentDrawerOpen" class="change-text">Hide Activity Details<span class="caret caret-up"></span></span>
    </a>
    <article ss-content-drawer="vm.isContentDrawerOpen" ss-drawer-class="">
      <ss-activity-tracker
        activity="vm.savedItem">
      </ss-activity-tracker>
    </article>
    <hr>
  </section>
</div>

<div class="cp-content-group">
  <section class="container">
    <header>
      <h3>{{vm.contentTitle}}</h3>
      <span class="effort">{{vm.contentSubtitle}}</span>
      <hr>
    </header>
    <article ng-repeat="(subheader, article) in vm.content">
      <h3 ng-if="subheader">{{subheader}}</h3>
      <p ng-bind-html="article"></p>
    </article>
    <footer>
      <hr>
      <h4>Interested in working on this activity?</h4>
      <!-- TODO side effects on saving activity, i.e. activity trackers -->
      <ss-save-user-content
        ng-if="vm.activity"
        ss-display-type="button"
        ss-display-content="vm.saveButtonDisplayContent"
        ss-is-user-namespace="vm.isUserNamespace"
        ss-item="vm.activity"
        ss-resource="vm.userResource"
        ss-is-saved="vm.isSaved"
        ss-plural-resource-name="vm.pluralResourceName"
        ss-saved-item="vm.savedItem">
      </ss-save-user-content>
    </footer>
  </section>
</div>

<div class="cp-print-button">
  <section>
    <div class="print">
      <a href="" onclick="window.print()">Print <span class="icon-print"></span></a>
    </div>
  </section>
</div>

<ss-reviews
  ss-review-resource="vm.reviewResource"
  ss-resource='vm.resource'>
  <p>Did you find this activity useful?</p>
</ss-reviews>

<!-- TODO: turn back on
<ss-related-content
  ss-resource="vm.activity">
</ss-related-content>
-->
