<ss-modal>
  <div class="content">
    <div class="header">
      <a href="#" aria-label="Close" ng-click="vm.closeModal()">
        <span class="icon-close" ></span>
      </a>
      <div class="header-content">
        <h5>Activity Could Not Be Tracked</h5>
      </div>
    </div>
    <div class="body">
      <p>You're already working on six activities! To make room for this new one,
      remove one of your saved activities.</p>
    </div>
    <div class="footer">
      <button class='btn' ng-click="vm.closeModal()">OK</button>
    </div>
  </div>
</ss-modal>
