<ss-modal>
  <div class="content">
    <div class="header">
      <button class="close" aria-label="Close" ng-click="vm.closeModal()">
        <span aria-hidden="true">×</span>
      </button>
      <div class="header-content">
        <h3>Activity Could Not Be Tracked</h3>
      </div>
    </div>
    <div class="body">
      <p>
        You're already working on six activities! To make room for this new one,
        remove one of your saved activities.
      </p>
    </div>
    <div class="footer">
      <button class="btn" ng-click="vm.closeModal()">OK</button>
    </div>
  </div>
</ss-modal>
