<div class="cp-lead-in {{leadColor}} {{leadHeight}}">
  <div class="left"></div>
  <div class="right"></div>
  <div class="cp-lead-in-bg"
    ng-style="leadImage ? { 'background-image': 'url(app/assets/images/lead-in-colors/{{leadHeight}}-{{leadColor}}.png), url(app/assets/images/{{leadImage}})'} : {}">
    <section class="container">
      <div class="copy-wrap">
        <div class="vertical-content">
          <h2>{{leadTitle}}</h2>
          <p ng-if="leadDesc">{{leadDesc}}</p>
        </div>
      </div>
    </section>
  </div>
</div>
