<h2>Activity Reminder Settings</h2>

<div ng-app="stayingSharp.reminderSettings">
  <%= simple_form_for(@activity_reminder,
                      url: my_activity_reminder_settings_path,
                      html: { "ng-controller" => "FormController as vm",
                              "ng-init" => "vm.reminders = false" }
                     ) do |form| %>
    <%= render 'activity_reminder_fields', form: form, activity_reminder: @activity_reminder %>

    <%= form.button :submit, value: 'Save and go to My Staying Sharp', name: :staying_sharp %>
    <%= form.button :submit, value: 'Save and explore more activites', name: :more_activities %>
  <% end %>
</div>
