<div class="item">
  <div class="data full">
    <div class="tracker">
      <ul>
        <li ng-repeat="period in vm.periods" ng-class="{ tracked: period.isTracked }">
          <div class="indicator"
               ng-click="vm.periodClicked({ $period: period })">
            <span ng-if="period.isTracked" class="icon-check"></span>
            <span ng-if="!period.isTracked" class="icon-plus"></span>
          </div>
          <label>{{period.date.format('dd')}}</label>
        </li>
      </ul>
    </div>
    <figcaption>
      <p>
        <span class="week">Week 1</span>:  mo/dy - mo/dy
      </p>
    </figcaption>
  </div>
</div>
