<ss-update-meta
  ss-title="Brain Games: Test Your Memory and Attention Span"
  ss-description="Stay mentally sharp by working your memory and language skills with these fun, online brain games."
  ss-keywords="play brain games, brain health, brain games, test your memory, sudoku, crosswords, brain puzzles, brain teasers, boost concentration, improve memory, keep brain sharp"
  ss-robots="INDEX, FOLLOW"
  ss-canonical-url="https://stayingsharp.aarp.org/games">
</ss-update-meta>

<ss-lead-in
  lead-color="yellow-teal"
  lead-image="banner-explore-games.jpg"
  lead-height="tall"
  lead-title="Explore Games"
  lead-desc="Let the (brain) games begin.">
</ss-lead-in>

<ss-pillar-filters
  ss-selected-pillar="vm.selectedPillar"
  ss-resource-content-name="vm.paidResource.contentName">
</ss-pillar-filters>

<ss-system-message></ss-system-message>

<div ng-if="$root.$currentUser.isPaid()">
  <ss-cards
    ss-card-classes="game-card"
    ss-is-user-namespace="vm.isUserNamespace"
    ss-per-page="8"
    ss-per-row="2"
    ss-resource="vm.paidResource"
    ss-selected-pillar="vm.selectedPillar">
  </ss-cards>
</div>

<div ng-if="!$root.$currentUser.isPaid()">
  <ss-cards
    ss-card-classes="game-card"
    ss-is-user-namespace="vm.isUserNamespace"
    ss-per-page="8"
    ss-per-row="2"
    ss-resource="vm.freeResource"
    ss-selected-pillar="vm.selectedPillar">
  </ss-cards>
</div>
