<div class="cp-games-details">
  <section class="container">
    <article>
      <h5>Games</h5>
      <h2>{{vm.game.title}}</h2>
      <p>{{vm.game.description}}</p>
      <div ss-pillars-display="vm.game.pillars"></div>
    </article>
    <div class="game-img">
      <img ng-src="{{vm.game.bodyImage}}" alt="">
    </div>
  </section>
</div>

<div class="cp-content-group">
  <section class="container">
    <header>
    </header>
    <footer>
      <h4>Interested in playing this game?</h4>
      <a ng-if="vm.game" target="_blank" href="{{vm.game.callToActionUrl}}" class="btn green-btn"><span>Play Game</span></a>
      <ss-save-user-content
        ng-if="vm.game"
        ss-display-type="button"
        ss-is-user-namespace="vm.isUserNamespace"
        ss-item="vm.game"
        ss-resource="vm.userResource"
        ss-plural-resource-name="vm.pluralResourceName">
      </ss-save-user-content>
    </footer>
  </section>
</div>

<div class="container" data-ng-bind-html="vm.game.contentSourceBranding"></div>

<ss-reviews
  ss-review-resource="vm.reviewResource"
  ss-resource='vm.resource'>
  <p>Did you find this game useful?</p>
</ss-reviews>

<ss-related-content
  ss-resource="vm.game"
  ss-resource-name="Game">
</ss-related-content>
