<div class="top-nav-placeholder"></div>

<section class="global-header" ng-class="{'logged-in':$root.$currentUser.isLoggedIn}">
  <nav class="container">
    <ss-mast-head-ad adslot="aarp-ad-leaderbd"></ss-mast-head-ad>

    <a ui-sref="application.home"
       class="logo"
       ng-click="vm.gamePlayFalse()"
       ng-include="'app/assets/images/aarp-logo.svg'"></a>

    <div class="nav-options" ng-if="!$root.isGamePlayView">
      <ul>
        <li permission only="'unpaid'" class="hidden-xs"><a class="text-link" ng-href="{{vm.subscribeUrl}}">Subscribe to Staying Sharp</a></li>
        <li ng-if="!$root.$currentUser.isLoggedIn" class="bullet hidden-xs">•</li>
        <li ng-if="!$root.$currentUser.isLoggedIn" class="hidden-xs"><a class="text-link" href='' ng-click="vm.login()">Login</a></li>
        <li>
          <span class="icon-search-container">
            <button class="icon-search" ng-click="vm.isSearchOpen = !vm.isSearchOpen"></button>
          </span>
        </li>
        <li>
          <button class="navbar-toggle ss-dtm-menu" ng-click="vm.isMenuOpen = !vm.isMenuOpen">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar top-bar"></span>
            <span class="icon-bar middle-bar"></span>
            <span class="icon-bar bottom-bar"></span>
            <span class="menu-label">Menu</span>
          </button>
        </li>
      </ul>
    </div>

    <div class="games-header" ng-if="$root.isGamePlayView">
      <ul>
        <li>
          <span>Hello, {{$root.$currentUser.firstName}}!</span>
        </li>
        <li>
          <a ng-click="vm.gamePlayFalse()" ui-sref="application.static.terms-of-service">Terms of Service</a>
        </li>
        <li>
          <span class="bullet">•</span>
          <a ng-click="vm.gamePlayFalse()" ui-sref="application.static.privacy-policy">Privacy Policy</a>
        </li>
        <li>
          <span class="bullet">•</span>
          <a ng-click="vm.gamePlayFalse()" ui-sref="application.games">More Games</a>
        </li>
      </ul>
    </div>
  </nav>

  <div ss-content-drawer="vm.isSearchOpen" ss-drawer-class="search">
    <section class="search-bar">
      <form class="container">
        <div class="search-input-group">
          <div class="btn-group">
            <ui-select ng-model="vm.selectedSearchCategory" search-enabled="false">
              <ui-select-match>{{$select.selected}}</ui-select-match>
              <ui-select-choices repeat="value in vm.searchCategories">
                {{value}}
              </ui-select-choices>
            </ui-select>
          </div>
          <input type="text" ng-model="vm.keywords" class="search-input" placeholder="Search Staying Sharp...">
          <span class="input-group-btn">
            <button type="button" ng-click="vm.submitSearch()">Search</button>
          </span>
        </div>
      </form>
      <button type="button" class="search-bar-close icon-close" ng-click="vm.isSearchOpen=!vm.isSearchOpen"></button>
    </section>
  </div>

</section>
<div class="search-body-overlay" ng-if="vm.isSearchOpen" ng-click="vm.isSearchOpen=!vm.isSearchOpen"></div>


<ss-side-nav is-open="vm.isMenuOpen">
  <ss-nav-panel on-close="vm.isMenuOpen = false"></ss-nav-panel>
</ss-side-nav>
