.global-header {
  position: fixed;
  top: 0;

  background: $white;
  top: 0;
  width: 100%;
  z-index: 500;
  border: 1px solid $grey-border;

  .container {
    @media (max-width: 767px) {
      padding: 0;
    }
  }

  .mast-head-ad-container {
    position: relative;
  }

  .logo {
    display: block;
    width: auto;
    margin: 9px 0 8px;
    cursor: pointer;
    float: left;
    width: 172px;
    height: 42px;
    padding-left: 15px;

    @media screen and (min-width: 768px) {
      width: 161px;
      padding-left: 0;
    }
  }
}

.nav-options {
  background: $bg-color;
  position: relative;
  min-height: 59px;
  float: right;

  ul {
    float: right;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      padding: 8px 0;
      vertical-align: top;
      display: inline;
      float: left;
      font-size: 14px;

      &.bullet {
        color: $grey-light;
        padding: 0;
        height: 59px;
        line-height: 59px;
      }

      .text-link {
        display: block;
        padding: 11px 14px;
      }
    }
  }

  .icon-search-container {
    display: block;
    height: 42px;
    padding: 8px 20px;

    @media screen and (min-width: 768px) {
      border-left: 1px solid $grey-light;
    }
  }

  .icon-search {
    color: $grey-dark;
    padding: 0;
    background: none;
    border-radius: 0;
    border: none;
    transition: none;

    &:hover {
      color: $blue;
      cursor: pointer;
    }
  }

  .navbar-toggle {
    display: block;
    margin: 0 0 0 0;
    padding: 4px 12px 2px;
    border: none;
    border-left: 1px solid $grey-light;
    background: none;
    border-radius: 0;
    transition: none;

    &:hover {
      background: transparent;

      span {
        color: $blue;
      }

      .icon-bar {
        background-color: $blue;
      }
    }

    .icon-bar {
      display: block;
      width: 32px;
      height: 2px;
      margin: 4px 0 0 1px;
      background: $grey-dark;
      border-radius: 0;

      &.top-bar {
        margin-top: 0;
      }
    }

    .menu-label {
      color: $grey-dark;
      font-size: 12px;
      font-weight: 600;
    }
  }
}

.global-header.logged-in .icon-search-container {
  border-left: none;
}

.search-bar {
  background: $white;
  width: 100%;
  padding: 15px 0;

  @media screen and (min-width: 768px) {
    padding: 31px 0;
  }

  .container {
    margin-bottom: 0;
  }

  .search-input-group {
    position: relative;
    display: table;
    border-collapse: separate;
    width: 100%;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .btn-group {
    display: table-cell;
    vertical-align: top;
    width: 1%;
  }

  .dropdown {
    font-size: 16px;
    white-space: nowrap;

    .ui-select-match {
      display: inline-block !important;
      outline: none;
      box-shadow: none;
    }

    .btn {
      display: inline-block;
      vertical-align: top;
      padding: 7px 15px;
      font-size: 16px;
      line-height: 20px;
      height: 38px;
      color: $black;
      background: $white;
      border-radius: 2px 0 0 2px;
      border: 1px solid $grey-light;
      border-right: none;
      padding-top: 8px;
      padding-bottom: 8px;
      cursor: pointer;

      &:hover, &:active, &:focus {
        background-color: $bg-color;
        border-color: $grey-light;
        box-shadow: none;
      }
      &:focus {
        background-color: $grey-light;
      }
    }

    .caret {
      display: inline-block;
      margin: -1px auto auto 6px;
      position: relative;
      top: auto;
      right: auto;
      height: auto;
    }

  }

  .ui-select-bootstrap .ui-select-choices-row {
    > a {
      &:hover, &:focus {
        background-color: $blue;
        color: $grey-faint;
      }
    }
    &.active {
      > a {
        background-color: $grey-faint;
        color: $black;
      }
    }
  }

  .dropdown-menu {
    display: none;
    position: absolute;
    opacity: 0;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: $white;
    border: 1px solid $grey-light;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;

    > li {
      > a {
        display: block;
        padding: 3px 20px;
        clear: both;
        font-weight: normal;
        line-height: 1.428571429;
        color: $black;
        white-space: nowrap;

        &:hover, &:focus {
          text-decoration: none;
          background-color: $bg-color;
        }
      }
    }
  }

  .search-input {
    display: table-cell;
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
    height: 38px;
    color: $black;
    border-radius: 0;
    box-shadow: none;
    vertical-align: top;
    padding-left: 12px;
    padding-right: 12px;
  }

  .input-group-btn button {
    padding: 7px 15px;
    font-size: 16px;
    line-height: 20px;
    height: 38px;
    border-radius: 0 2px 2px 0;
  }

  .search-bar-close {
    color: $black;
    position: absolute;
    right: 0;
    top: 7px;
    background: none;
    border: none;
    @media (max-width: 767px) {
      padding: 0;
    }
  }
}

.search-body-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #717171;
  opacity: 0.4;
  transition: opacity 250ms ease-in-out;
  top: 0;
  bottom: 0;
  z-index: -1;
}


.games-header {
  float: right;
  display: block;

  a, span {
    font-size: 14px;
  }

  span {
    color: $grey-dark;
  }

  ul {
    width: 100%;
    list-style-type: none;

    @media screen and (min-width: 768px) {
      float: left;
      width: auto;
      clear: none;
      margin-top: 18px;
      padding-right: 0;
      padding-left: 0;
      margin-left: 0;
    }
  }

  li {
    text-align: left;
    float: left;
    padding-right: 25px;

    @media screen and (min-width: 768px) {
      padding: 0 0 0 25px;
    }

    &:first-child {
      width: 100%;

      @media screen and (min-width: 768px) {
        width: auto;
      }
    }
  }

  .bullet {
    color: $grey-light;
    position: relative;
    top: 1px;
    left: -11px;
  }
}
