# Global
!.keep
*.DS_Store
*.sw[nop]
.sass-cache
dump.rdb
latest.dump
/coverage/*
.build

# Ruby & Rails
.zsh_rake_cache
.rbenv-version
.rbenv-vars
.ruby-version
.env
/config/database.yml
/.bundle
/.foreman
/db/*.sqlite3
/db/*.sqlite3-journal
/log/*
/tmp/*
.rspec
/spec/tmp
/vendor/bundle
/vendor/assets/bower_components
rerun.txt
tags
.tags
.gemtags
zeus.json
/erd.pdf

# gulp angular
/node_modules
/public
/client/bower_components
/client/.tmp
/client/.divshot-cache
/client/dist
/client/.env.json
/client/gulp.dot
/client/gulp.png
/client/aws.json
/client/.awspublish*
/client/node_modules
/client/.elasticbeanstalk

# Elastic Beanstalk Files
/client/.elasticbeanstalk/*
/client/!.elasticbeanstalk/*.cfg.yml
/client/!.elasticbeanstalk/*.global.yml
/client/awseb-dev-config.js
/client/awseb-staging-config.js
/client/awseb-production-config.js
/client/src/node_modules
