<div class="cp-lead-in yellow-teal tall">
  <div class="left"></div>
  <div class="right"></div>

  <div class="cp-lead-in-bg">
    <section>
      <div class="copy-wrap">
        <div class="vertical-content">
          <h2>Explore: Articles</h2>
          <p>Lorem ipsum dolor sit amet, nulla ipsum pede donec volutpat aenean convallis.</p>
        </div>
      </div>
    </section>
  </div>
</div>

<!-- Desktop ONLY -->
<div class="cp-pillar-filter hidden-xs">
    <section>
        <p>Filter by:</p>
        <ul>
            <li><a href="" title=""><span class="pillar all-options">All</span></a></li>
            <li class="hidden-xs"><span class="divider"></span></li>
            <li><a href="" title="" class="keeping-fit"><span class="pillar keeping-fit">Keeping Fit</span></a></li>
            <li><a href="" title="" class="learning-more"><span class="pillar learning-more">Learning More</span></a></li>
            <li><a href="" title="" class="managing-stress"><span class="pillar managing-stress">Managing Stress</span></a></li>
            <li><a href="" title="" class="eating-right"><span class="pillar eating-right">Eating Right</span></a></li>
            <li><a href="" title="" class="being-social"><span class="pillar being-social">Being Social</span></a></li>
        </ul>
    </section>
</div>


<!-- Mobile ONLY -->
<div class="cp-pillar-filter visible-xs">
    <section>
        <div class="btn-group">
            <button type="button" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <span data-bind="label">All Categories</span><span class="chevron-down"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li class="switch-click"><a href="">All Categories</a></li>
                <li class="switch-click"><a href="">Keeping Fit</a></li>
                <li class="switch-click"><a href="">Learning More</a></li>
                <li class="switch-click"><a href="">Managing Stress</a></li>
                <li class="switch-click"><a href="">Eating Right</a></li>
                <li class="switch-click"><a href="">Being Social</a></li>
            </ul>
        </div>
    </section>
</div>

<div ng-repeat="article in vm.articles">
  <div class="card-holder">
    <div class="cp-card article-card" style="background-image: url(http://aarp.org<%= article.background_image_large %>)">
      <a href="#link-to-card-content"></a>
      <div class="color-fill"></div>
      <section>
        <div class="info-block">
          <header>
            <h5>Article</h5>
          </header>
          <article>
            <h4><a ui-sref="application.articles-detail({ id: article.id })">{{ article.title }}</a></h4>
            <p>{{ article.description }}</p>
            <p>{{ article.payload['jcr:description'] }}</p>

            <div class="effort">
              <div ng-switch="article.type">
                <span ng-switch-when="SlideshowArticle">Slideshow: 5 slides</span>
                <span ng-switch-when="VideoArticle">Video: 5 min</span>
                <span ng-switch-when="BasicArticle">Read Time: 8 min</span>
              </div>
            </div>
            <div class="proof">
              <span class="icon-recommend"></span>
              <span>0%</span>
            </div>
          </article>

          <footer>
            <div class="pillars">
              <span class="pillar learning-more">Learning More</span>
              <span class="pillar managing-stress">Managing Stress</span>
            </div>
          </footer>
        </div>
      </section>
    </div>
  </div>
