.square-advertisement {
  .square-advertisement-container {
    width: 300px;
    height: 280px;
    border-top: 1px solid $grey-border;
    border-bottom: 1px solid $grey-border;
    margin: auto;
    .note {
      color: $grey-medium;
      font-size: 12px;
      text-align: right;
      line-height: 30px;
    }

    .inner-content {
      width: 300px;
      height: 280px;
    }
  }
}
