<div class="cp-navigation-tabs">
  <section class="container">
    <div class="tab-list">
      <ul>
        <li>
          <a ui-sref="application.user.working-on"
             ng-class="{active : activeTab === 'activities'}"
             title="My Activities">
            <span class="icon-activities-stats"></span>
            <span class="hidden-xs hidden-sm">My Activities</span>
            </a>
          </li>
        <li>
          <a ui-sref="application.user.recipes"
             ng-class="{active : activeTab === 'recipes'}"
             title="My Recipes">
           <span class="icon-saved-recipes"></span>
           <span class="hidden-xs hidden-sm">My Recipes</span>
          </a>
        </li>
        <li>
          <a ui-sref="application.user.articles"
             ng-class="{active : activeTab === 'articles'}"
             title="My Articles">
            <span class="icon-saved-articles"></span>
            <span class="hidden-xs hidden-sm">My Articles</span>
            </a>
          </li>
        <li>
          <a ui-sref="application.user.assessments.overall"
             ng-class="{active : activeTab === 'assessments'}"
             title="My Assessment Results">
            <span class="icon-assessment-results"></span>
            <span class="hidden-xs hidden-sm">My Assessment Results</span>
            </a>
          </li>
        <li>
          <a ui-sref="application.user.games"
             ng-class="{active : activeTab === 'games'}"
             title="My Games">
            <span class="icon-games"></span>
            <span class="hidden-xs hidden-sm">My Games</span>
            </a>
        </li>
        <li>
          <a ui-sref="application.user.archive"
             ng-class="{active : activeTab ==='archive'}"
             title="Archive">
             <span class="icon-archive"></span>
             <span class="hidden-xs hidden-sm">Archive</span>
             </a>
        </li>
      </ul>
    </div>
  </section>
</div>
