<div class="cp-navigation-tabs">
  <section class="container">
    <div class="tab-list">
      <!-- TODO: This is shown when user is logged in but not a paid member. 
      <ul>
        <li>
          <a href="" title="Account Information">
            <span class="icon-account"></span>
            <span class="hidden-xs hidden-sm">Account Information</span>
          </a>
        </li>
        <li>
          <a href="" title="Subscription">
            <span class="icon-subscriptions"></span>
            <span class="hidden-xs hidden-sm">Subscription</span>
          </a>
        </li>
        <li>
          <a href="" title="Preferences">
            <span class="icon-settings"></span>
            <span class="hidden-xs hidden-sm">Preferences</span>
          </a>
        </li>
        <li>
          <a href="" title="My Connected Apps">
            <span class="icon-connected-apps"></span>
            <span class="hidden-xs hidden-sm">My Connected Apps</span>
          </a>
        </li>
      </ul>
      -->
      <!-- TODO: This is shown when user is logged AND a paid member. -->
      <ul>
        <li>
          <a ui-sref="application.user.dashboard" title="What I’m Working On">
            <span class="icon-activities-stats"></span>
            <span class="hidden-xs hidden-sm">What I’m Working On</span>
            </a>
          </li>
        
        <li>
          <a ui-sref="application.user.recipes" title="Saved Recipes">
           <span class="icon-saved-recipes"></span>
           <span class="hidden-xs hidden-sm">Saved Recipes</span>
          </a>
        </li>
        <li>
          <a ui-sref="application.user.articles" title="Saved Articles">
            <span class="icon-saved-articles"></span>
            <span class="hidden-xs hidden-sm">Saved Articles</span>
            </a>
          </li>
        <li>
          <a ui-sref="application.user.assessments" title="Assessment">
            <span class="icon-assessment-results"></span>
            <span class="hidden-xs hidden-sm">Assessment</span>
            </a>
          </li>
        <li>
          <a href="" title="Games">
            <span class="icon-assessment-results"></span>
            <span class="hidden-xs hidden-sm">Games</span>
            </a>
          </li>
      </ul>
    </div>
  </section>
</div>
