.onetime-ad {
  display: inline-block;
  width: 100%;
  border-top: 1px solid $grey-border;
  border-bottom: 1px solid $grey-border;
  padding: 20px 0;
  margin-top: 20px;

  .note {
    color: $grey-medium;
    font-size: 12px;
    text-align: right;
    line-height: 30px;
  }

  .onetime-container {
    @media screen and (min-width: 767px) {
      width: 728px;
    }

    @media screen and (max-width: 767px) {
      width: 320px;
    }
    margin: auto;
  }

  .ad-contents {
    border: 1px solid $grey-border;
    width: 100%;
    @media screen and (min-width: 767px) {
      height: 90px;
    }

    @media screen and (max-width: 767px) {
      height: 50px;
    }
  }
}

.hide-for-small {
  @media screen and (max-width: 767px) {
    display: none;
  }
}
