.content-drawer-wrapper {
  width: 100%;
  overflow: hidden;

  .content-drawer-inner {
    opacity: 0;
    transition: all 250ms ease-in-out;
    position: relative;
    z-index: 10;
  }

  &.search {
    position: fixed;
    overflow: visible;
    z-index: 100;
    top: 60px;

    .content-drawer-inner {
      background: $white;
      transform: translateY(-100%);
      box-shadow: 0 4px 2px -2px $grey-medium;
    }

    .search-body-overlay {
      opacity: 0;
      height: 0;
    }
  }

  &.visible {
    .content-drawer-inner {
      opacity: 1;
      transform: translateY(0);
      transition: all 250ms ease-in-out;
    }

    &.search {
      .search-body-overlay {
        opacity: 0.4;
        height: 100%;
      }
    }
  }
}

.cp-content-drawer {
  padding-top: 15px;
  background: $white;

  a {
    text-decoration: none;
    color: $link-color;

    &:hover, &:active, &:visited {
      text-decoration: none;
    }
  }

  .toggle-content-link {
    cursor: pointer;
  }

  .caret {
    margin-left: 8px;
  }

  .caret-down {
    border-top: 5px solid $link-color;
  }

  ul {
    list-style: none;
    padding-left: 0;

    li {
      padding: 7px 0;

      span {
        padding-right: 5px;
      }
    }
  }

  h4 {
    margin: 25px 0 15px 0;
  }

  p {
    &:last-child {
      padding-bottom: 15px;
    }

    &:first-child {
      padding-top: 15px;
    }
  }
}
