.content-drawer-wrapper {
  width: 100%;
  overflow: hidden;

  .content-drawer-inner {
    opacity: 0;
    transition: all 250ms ease-in-out;
    position: relative;
    z-index: 10;
  }

  &.search {
    position: relative;
    overflow: visible;
    z-index: 100;

    .content-drawer-inner {
      background: $white;
      box-shadow: 0 4px 2px -2px $grey-medium;
    }

    .search-body-overlay {
      opacity: 0;
      height: 0;
    }
  }

  &.visible {
    .content-drawer-inner {
      opacity: 1;
      transition: all 250ms ease-in-out;
    }

    &.search {
      .search-body-overlay {
        opacity: 0.4;
        height: 100%;
      }
    }
  }
}

.cp-content-drawer {
  padding-top: 15px;
  background: $white;

  &.blue-drawer {
    position: relative;
    padding-top: 0;

    &:before {
      height: 70px;
      top: 0;
    }

    &:before, &:after {
      content: '';
      width: 100%;
      position: absolute;
      left: 0;
      background-color: $resolution-blue;
    }

    &:before {
      height: 70px;
      top: 0;
    }

    > section {
      position: relative;
      width: 100%;
    }

    .toggle-content-link {
      padding: 16px 0;
      font-size: 25px;
      display: inline-block;
      color: $white;
      position: relative;
      z-index: 100;
      width: 100%;
      font-weight: 300;
      margin-bottom: 20px;
    }

    .icon {
      float: right;
      background-color: $green;
      padding: 9px 8px 7px;
      border-radius: 2px;
    }
  }

  a {
    text-decoration: none;
    color: $link-color;

    &:hover, &:active, &:visited {
      text-decoration: none;
    }
  }

  .toggle-content-link {
    cursor: pointer;
  }

  .caret {
    margin-left: 8px;
  }

  .caret-down {
    border-top: 5px solid $link-color;
  }

  ul {
    list-style: none;
    padding-left: 0;

    li {
      padding: 7px 0;

      span {
        padding-right: 5px;
      }
    }
  }

  h4 {
    margin: 25px 0 15px 0;
  }

  p {
    &:last-child {
      padding-bottom: 15px;
    }

    &:first-child {
      padding-top: 15px;
    }
  }
}
