<h2>Explore: Articles</h2>

<ul>
  <li><%= link_to 'An Article', article_path(id: 1, type: 'Article::Basic') %></li>
  <li><%= link_to 'A Video Article', article_path(id: 1, type: 'Article::Video') %></li>
  <li><%= link_to 'A Podcast Article', article_path(id: 1, type: 'Article::Podcast') %></li>
  <li><%= link_to 'A Slideshow Article', article_path(id: 1, type: 'Article::Slideshow') %></li>
</ul>
