<h2>Article Detail</h2>

<% case params[:type]
   when 'Article::Video' %>
  <%= render partial: 'articles/video' %>
<% when 'Article::Slideshow' %>
  <%= render partial: 'articles/slideshow' %>
<% else %>
  <%= render partial: 'articles/basic' %>
<% end %>
