<h1>Article Detail</h1>

<% case params[:type]
   when 'Article::Video' %>
  <%= render partial: 'articles/video' %>
<% when 'Article::Podcast' %>
  <%= render partial: 'articles/podcast' %>
<% when 'Article::Slideshow' %>
  <%= render partial: 'articles/slideshow' %>
<% else %>
  <%= render partial: 'articles/basic' %>
<% end %>
