button, .btn {
  color: $white;
  background: $button-blue;
  padding: 8px 15px;
  border-radius: 2px;
  border-color: transparent;
  transition: background 0.3s ease;
  font-size: 16px;

  &.tracked {
    background: $button-green;
    color: white;

    &:hover {
      background: $button-green-hover;
    }
  }

  &:hover {
    color: white;
    background: $blue-dark;
  }

  &:focus {
    outline: none;
    color: $white;
  }

  &.tracking-btn {
    color: white;

    span {
      display: none;

      &:first-child {
        display: inline;
      }
    }
  }

  &.tracked {
    min-width: 108px;

    span {
      display: inline;

      &:first-child {
        display: none;
      }
    }

    .icon-check {
      line-height: 16px;
      vertical-align: middle;
      position: relative;
      top: -2px;
    }
  }
}

.btn-group {
  position: relative;
  display: inline-block;
  vertical-align: middle;

  > .btn {
    position: relative;
    float: left;

    &:hover, &:focus, &:active {
      z-index: 2;
    }

    &:first-child {
      margin-left: 0;
    }
  }

  .dropdown-toggle:active {
    outline: 0;
  }

  .caret {
    margin-left: 0;
  }
}

.close {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: $black;
  text-shadow: 0 1px 0 $white;
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  opacity: 0.2;
  filter: alpha(opacity=20);
  -webkit-appearance: none;
  
  &:hover, &:focus {
    color: $black;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.5;
    filter: alpha(opacity=50);
  }
}