.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;

  > li {
    display: inline;

    > a {
      position: relative;
      float: left;
      margin: 0 8px;
      padding: 5px 1px;
      line-height: 1.428571429;
      text-decoration: none;
      color: $link-color;
      border-bottom: 2px solid transparent;

     &:hover, &:focus {
        z-index: 3;
        color: $link-color-hover;
        border-color: $link-color-hover;
      }
    }

    &.active > a {
      color: $link-color-hover;
      border-color: $link-color-hover;
    }
  }

  > .disabled > a,
  > .disabled > a:hover,
  > .disabled > a:focus {
    color: $grey-light;
    border-color: transparent;
    cursor: not-allowed;
  }
}
