// Colors
$white:                   #ffffff;
$black:                   #2f373c;
$metal:                   #30383D;
$grey-faint:              #f6f6f6;
$grey-light:              #cbcbcb;
$grey-medium:             #8e8e8e;
$grey-dark:               #5a5e61;
$grey-blue:               #385d70;
$grey-border:             #ececec;
$resolution-blue:         #28376d;
$blue:                    #5684a9;
$blue-dark:               #346082;
$blue-light:              #66afe9;
$navy:                    #385e70;
$navy-light:              #94a7af;
$teal:                    #badddf;
$glacier:                 #77bcc5;
$fountain-blue:           #6dafb7;
$green:                   #59a956;
$green-dark:              #3d7d3b;
$red:                     #cf2a2b;
$salmon:                  #e58c7d;
$pink:                    #f4ba8f;
$orange:                  #e6763e;
$yellow:                  #e2ad0e;
$golden:                  #f9d987;

$bg-color:                $grey-faint;
$header-color:            $black;
$text-color:              $grey-dark;
$input-color:             $grey-blue;
$link-color:              $blue;
$link-color-hover:        $blue-dark;
$button-blue:             $blue;
$button-blue-hover:       $blue-dark;
$button-green:            $green;
$button-green-hover:      $green-dark;
$alert:                   $red;
