#article-container {
  @media screen and (max-width: 767px) {
    padding-top: 100px;
  }

  @media screen and (min-width: 767px) {
    padding-top: 158px;
  }
}

.mobile-fixed-footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  background: $white;
  z-index: 5;
  padding: 5px 15px 5px 15px;
  border: 1px solid $grey-border;

  @media screen and (min-width: 991px) {
    display: none;
  }

  .article-action-items {
    text-align: center;
    .article-item {
      &.right {
        padding-left: 10px;

        .icon-share {
          vertical-align: middle;
        }
      }
    }
  }
}

.non-paid-bg-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 0px;
  padding-bottom: 0px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 170px;
  z-index: -1;

  @media screen and (min-width: 767px) {
    height: 297px;
  }

  @media screen and (max-width: 767px) {
    height: 113px;
  }
}

.paid-bg-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 0px;
  padding-bottom: 0px;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  margin-top: 60px;

  @media screen and (min-width: 767px) {
    height: 297px;
  }

  @media screen and (max-width: 767px) {
    height: 113px;
  }
}

.article {
  padding-bottom: 59px;

  &.cp-content-detail {
    padding-top: 75px;
  }

  &.cp-lead-in-detail {
    @media screen and (max-width: 767px) {
      padding-top: 10px;
    }
  }

  .container {
    max-width: 940px;
    @media screen and (min-width: 767px) {
      padding-left: 0;
      padding-right: 0;
    }
    @media screen and (max-width: 767px) {
      padding-left: 15px;
      padding-right: 15px;
    }

    section {
      @media screen and (min-width: 767px) {
        width: 620px;
      }
      float: left;
      margin-right: auto;
      margin-left: auto;
    }

    aside {
      width: 320px;
      padding-left: 20px;
      position: relative;
      float: left;

      footer {
        padding: 15px 0px 0px 0px;
        border: 1px solid $grey-border;
        margin-bottom: 20px;
      }

      .ads.sidebar {
        width: 100%;
        border-top: 1px solid $grey-border;
        border-bottom: 1px solid $grey-border;
        height: 250px;

        .note {
          float: right;
        }
      }

      .sticky-side-bar {
        z-index: 1;
        max-width: 300px;
        text-align: left;
        height: 210px;
        position: fixed;

        @media screen and (max-width: 991px) {
          display: none;
        }

        .article-action-items {
          width: 100%;

          .article-item {
            width: 100%;
            padding: 0px 15px 15px 15px;
          }

          .article-item-border {
            border-top: 1px solid $grey-border;
            padding: 0px 15px 0px 15px;
          }

          .article-share {
            line-height: 1.42857;
            padding: 8px 0;
            vertical-align: top;
            display: inline-block;
            margin-left: 0px;
          }
        }
      }
    }
  }
}
