<h2>Saved Activities</h2>

<div ng-app="stayingSharp.userActivities" ng-controller="ActivitiesController as vm">

  <p>Activities ({{vm.userActivities.length}} of 6)</p>

  <div ng-repeat="userActivity in vm.userActivities">
    <h2><a href="{{vm.activityUrl(userActivity.activity.id)}}">Activity: {{userActivity.activity.title}}</a></h2>
    <p>Pillars: {{vm.displayablePillarNames(userActivity.activity, ', ')}}</p>
    <p>{{userActivity.activity.points}} pts</p>
    <p>{{userActivity.activity.recommendedEffortTime}}</p>
    <p>
      <a href="{{vm.settingsUrl(userActivity.activity.id,userActivity.id)}}">Settings</a> |
      <a href="#">Archive</a>
    </p>

    <p>{{vm.currentWeekText()}} : Track When You Did This</p>

    <p>
    <!-- TODO: remove this temporary copy once binary tracker is done  -->
      ({{userActivity.activity.activityTracker.name}})
    </p>

    <p>
      <!-- TODO: disable link after users entered in the tracker data for the day -->
      <a class="btn" ng-click="vm.createActivityPeriod(userActivity.activity.id, userActivity.id)">I Did it Today</a>
    </p>

    <p>M T W TH F Sa Su</p>

    <p><a href="#">Full Tracker Progress and Details</a></p>

  </div>

  <h2>Find an activity to work on!</h2>
  <p><a href="/activities"> Explore Activities</a></p>

</div>
