<footer>
  <div class="footer-header"></div>
  <div class="footer-content">
    <div class="container">
      <div class="logo" ng-include="'app/assets/images/aarp-logo.svg'"></div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <ul class="left">
        <li><a href="https://stayingsharp.zendesk.com/home">FAQ</a></li>
        <li><a ui-sref="application.static.terms-of-service">Terms of Service</a></li>
        <li><a ui-sref="application.static.privacy-policy">Privacy Policy - Your Privacy Rights</a></li>
      </ul>
      <ul class="right">
        <li>©2015 AARP</li>
        <li>All rights reserved.</li>
      </ul>
    </div>
  </div>
</footer>
