<footer>
  <div class="footer-header"></div>
  <div class="footer-content">
    <div class="container">
      <div class="logo">
        <object data="app/assets/images/aarp-logo.svg" type="image/svg+xml" height="42" width="161">
          <img height="42" width="161" src="app/assets/images/aarp-logo.png" alt="Staying Sharp | AARP">
        </object>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <ul class="left">
        <li><a ui-sref="application.static.faq">FAQ</a></li>
        <li><a ui-sref="application.static.terms-of-service">Terms of Service</a></li>
        <li><a ui-sref="application.static.privacy-policy">Privacy Policy</a></li>
      </ul>
      <ul class="right">
        <li>Support: 612-217-1083</li>
        <li>©2015 AARP</li>
        <li>All rights reserved.</li>
      </ul>
    </div>
  </div>
</footer>
