<footer>
  <ul>
    <li><a href=""><span class="icon-facebook"></a></span></li>
    <li><a href=""><span class="icon-twitter"></span></a></li>
    <li><a href=""><span class="icon-google-plus"></a></span></li>
  </ul>
  <ul class="left">
    <li><a ui-sref="application.faq">FAQ</a></li>
    <li><a ui-sref="application.terms-and-conditions">Terms of Service</a></li>
    <li><a ui-sref="application.privacy-policy">Privacy Policy</a></li>
  </ul>
  <ul class="right">
    <li>&copy;2015 AARP</li>
    <li>All rights reserved.</li>
  </ul>
</footer>
