<div class="cp-assessment-questions">
  <section class="container">
    <ss-info-box ng-if="!vm.hasFlash">
      <p translate>info.missing_flash_warning_assessments</p>
      <a ui-sref="application.home" class="btn">Explore Staying Sharp</a>
    </ss-info-box>

    <div ng-if="vm.showAssessment" class="form-wrap">
      <h1>The Brain Health Assessment</h1>

      <div class="container header-container">
        <header class="assessment-header">
          <h4>{{vm.activePillar.title}}</h4>
          <p class="required-text">
            <small>All fields required</small>
          </p>
        </header>

        <div class="cp-pillar-filter hidden-xs">
          <ul class="inactive">
            <li ng-repeat="tab in vm.tabData">
              <a class="{{tab.pillar}} {{vm.isActive(tab.pillar)}}">
                <span class="pillar {{tab.pillar}}">{{tab.pillar}}</span>
              </a>
            </li>
          </ul>
        </div>
      </div>


      <div>
        <div ng-repeat="(pillarName, questions) in vm.questionsByPillarName">
          <div ng-if="pillarName === vm.activePillar.pillar">
            <form name="vm[pillarName + 'AssessmentForm']" ng-submit="vm.validateForm(vm[pillarName + 'AssessmentForm'])" novalidate>
              <div ng-repeat="question in questions" class="row">
                <!-- date picker -->
                <div class="form-input-wrap col-6" ng-if="question.type === 'AssessmentQuestionDate'" ng-class="{error: vm[pillarName + 'AssessmentForm'].$submitted && vm[pillarName + 'AssessmentForm']['question-' + question.id].$invalid}">
                  <label>{{question.text}}</label>
                  <ng-combo-date-picker ng-model="vm.textResponses[question.id]" ng-date="{{ vm.defaultBirthdate.toString() }}" ng-attrs-date='{"class": "form-control day"}' ng-attrs-month='{"class": "form-control month"}' ng-attrs-year='{"class": "form-control year"}'
                    class="date-picker" name="question-{{question.id}}">
                  </ng-combo-date-picker>
                </div>
                <!-- select -->
                <div class="form-input-wrap select-wrap col-6" ng-if="question.type === 'AssessmentQuestionSelect'" ng-class="{error: vm[pillarName + 'AssessmentForm'].$submitted && vm[pillarName + 'AssessmentForm']['question-' + question.id].$invalid}">
                  <label>{{question.text}}</label>
                  <select class="form-control" name="question-{{question.id}}" ng-model="vm.textResponses[question.id]" required>
                    <option ng-repeat="option in question.answerOptions" value="{{option}}">{{option}}</option>
                  </select>
                </div>
                <!-- radio buttons -->
                <div class="form-input-wrap radio-wrap" ng-if="question.type === 'AssessmentQuestionRadio'" ng-class="{error: vm[pillarName + 'AssessmentForm'].$submitted && vm[pillarName + 'AssessmentForm']['question-' + question.id].$invalid}">
                  <p class="question-text">{{question.text}}</p>
                  <div ng-repeat="option in question.answerOptions" class="radio inline">
                    <div ng-if="question.answerValues.length === 0">
                      <label>
                        <input name="question-{{question.id}}" value="{{option}}" ng-model="vm.textResponses[question.id]" type="radio" required>{{option}}
                      </label>
                    </div>
                    <div ng-if="question.answerValues.length > 0">
                      <label>
                        <input name="question-{{question.id}}" value="{{option}}" ng-model="vm[question.id]" ng-click="vm.indexResponses[question.id]=$index" type="radio" required>{{option}}
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <button type="submit" ng-class="{ 'ss-dtm-finish-assessment': vm.isLastPillar(), 'ss-dtm-continue-assessment': !vm.isLastPillar() }">
                <span ng-if="vm.isLastPillar()">Get Your Results</span>
                <span ng-if="!vm.isLastPillar()">Continue</span>
              </button>
            </form>
          </div>
        </div> <!-- end of ng-repeat for tab content -->
      </div>

      <br>
    </div>
  </section>
</div>
