.cp-assessment-intro {
  background: white;
  padding: 30px 0;

  @media screen and (min-width: 768px) {
    margin: 0 auto;
  }

  .assessment-description {
    padding: 15px 0;
    margin: 30px auto;
    border-top: 1px solid $grey-border;
    border-bottom: 1px solid $grey-border;

    h1 {
      font-size: 24px;
    }

    ul {
      padding-left: 28px;

      li {
        padding: 5px 0;
        font-size: 16px;

      }

      ul {
        padding: 10px 24px;

        li {
          list-style: disc;
          padding: 3px 0;
          margin: 0;
        }
      }
    }
  }
}

.cp-assessment-questions {
  background: white;
  padding: 30px 0;

  @media screen and (min-width: 768px) {
    margin: 0 auto;
  }

  h1 {
    margin: 0;
    border-bottom: 1px solid $grey-border;
    padding-bottom: 30px;
    margin-bottom: 30px;
    font-weight: 300;
    font-size: 28px;
  }

  .form-input-wrap.radio-wrap {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.cp-assessment-results {
  background: white;
  overflow: hidden;

  @media screen and (min-width: 768px) {
    margin: 0 auto;
  }

  > .container {

    > header {
      border-bottom: 1px solid #ECECEC;
      padding: 15px 15px 8px;

      @media screen and (min-width: 768px) {
        margin: 0 auto;
        padding: 27px 0;
      }

      @media screen and (min-width: 992px) {
        padding: 40px 0px 26px 0px;
      }

    }

    > section {
      border-bottom: 1px solid #ECECEC;
      padding: 25px 10px;
      @include clearfix;

      @media screen and (min-width: 768px) {
        margin: 0 auto;
        padding: 35px 0px;
      }

      @media screen and (min-width: 992px) {
        padding: 40px 0px;
      }
    }

    h3 {
      margin: 0px 0px 10px;
    }
  }

  hgroup {
    @media screen and (min-width: 768px) {
      max-width: 210px;
      border-bottom: none;
      border-right: 1px solid #ECECEC;
      padding-bottom: 0;
    }
  }

  input[type="radio"],
  input[type="checkbox"] {
    line-height: normal;
    margin-left: -15px;
    margin-top: 37px;
  }

  .btn {
    margin: 17px 0 15px;

    @media screen and (min-width: 768px) {
      margin: 27px 0 25px;
    }
  }

  figure {
    margin-bottom: 5px;
    clear: left;

    img {
      max-width: 100%;
    }
  }

  .legend {
    margin-bottom: 10px;
    padding-right: 20px;
    width: 150px;

    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
    }

    li {
      font-weight: 600;
      margin-bottom: 3px;
    }

    span {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      display: inline-block;
      margin-right: 10px;
    }

    p {
      line-height: 21px;
    }
  }

  .break-down {
    padding-top: 0;

    @media screen and (min-width: 992px) {
      padding-top: 0;
      padding-bottom: 0;
    }

    h3 {
      margin-top: 7px;
      margin-bottom: 3px;
      line-height: 33px;
    }
  }

  .index-score {
    overflow: hidden;
    padding-bottom: 20px;
    padding-top: 10px;

    .inner {
      position: relative;
      float: left;
      width: 100%;
      padding: 0 20px;
      margin: 10px 0;

      @media screen and (min-width: 768px) {
        width: 490px;
        float: right;
      }

      @media screen and (min-width: 992px) {
        width: 570px;
        margin: 24px 0 0;
        float: right;
      }
    }

    > figure {
      height: 46px;

      @media screen and (min-width: 992px) {
        height: auto;
      }
    }

    figcaption {
      float: left;
      width: 100%;

      @media screen and (min-width: 768px) {
        float: left;
        width: 30%;
      }
    }

    h4 {
      margin: 0;
      padding-top: 10px;

      @media screen and (min-width: 768px) {
        padding-top: 18px;
      }

      @media screen and (min-width: 992px) {
        padding-top: 34px;
      }
    }

    .graph-wrap {
      position: relative;
      width: 100%;
      height: 50px;
      float: left;
    }

    .graph {
      min-height: 46px;
      width: 79%;
      position: absolute;
      left: 10px;

      @media screen and (min-width: 768px) {
        width: 90%;
        left: 20px;
      }

      @media screen and (min-width: 992px) {
        width: 92%;
      }
    }

    .zone-legend {
      @media screen and (min-width: 768px) {
        width: 100%;
        right: -14px;
      }
    }

    &:last-child {
      border-bottom: 0;
    }
  }

  .bar {
    position: absolute;
    width: 0%;
    height: 46px;
    transition: all 400ms ease;

    &.perfect .left-half-circle .circle:after {
      opacity: 0;
    }
  }

  .caption {
    position: absolute;
    top: 10px;
    z-index: 2;
    text-align: left;
    left: 0px;

    span {
      font-size: 12px;
    }

    @media screen and (min-width: 992px) {
      text-align: left;
    }

    &:last-child {
      margin-left: 27px;
      text-align: right;

      @media screen and (min-width: 768px) {
        margin-left: 30px;
      }
    }
  }

  .mask {
    width: 23px;
    height: 46px;
    position: absolute;
    overflow: hidden;
    top: 0;
  }

  .circle {
    height: 46px;
    width: 46px;
    background: white;
    border-radius: 50%;
    position: relative;
    z-index: 1;
  }

  .left-half-circle {
    right: -23px;
    overflow: visible;
    z-index: 6;

    span {
      position: absolute;
      text-align: center;
      top: 10px;
      width: 46px;
      z-index: 10;
      color: #59A956;
      font-weight: 600;
    }

    .circle {
      border: 5px solid #59A956;
      left: 0;
      top: 0px;

      &:after {
        background: white none repeat scroll 0 0;
        border: 0px solid white;
        border-radius: 0 50% 50% 0;
        content: " ";
        height: 46px;
        position: absolute;
        right: -6px;
        top: -5px;
        width: 27px;
        transition: opacity 800ms;
      }
    }
  }

  .right-half-circle .circle {
    border: 5px solid #CBCBCB;
    right: 23px;
    top: 0px;
    background: #f8f9f9;
  }

  .slider-progress {
    height: 4px;
    left: 0;
    position: absolute;
    top: 22px;
    width: 100%;
    z-index: 4;
    background: #59A956;
  }

  .horizontal-bar {
    float: left;
    width: 90%;
    height: 100%;
    position: relative;
    z-index: 1;

    &:after {
      content: " ";
      height: 1px;
      width: 483px;
      width: 100%;
      position: absolute;
      left: 0;
      top: 24px;
      background: #c0c1c2;
    }

    &:before {
      background-color: #f8f9f9;
      content: "";
      height: 46px;
      position: absolute;
      right: -30px;
      top: 0;
      width: 33%;
    }

    .icon-next {
      font-weight: bolder;
      color: #59A956;
    }

    .bar-end {
      position: absolute;
    }

    .bar-end.low {
      left: -13px;
      top: 14px;
      z-index: 5;
    }

    .bar-end.high {
      right: -23px;
    }

    .bar-end.high span {
      top: 14px;
    }
  }

  .zone-legend {
    float: left;
    margin-top: 15px;
    position: relative;
    width: 79%;
    min-width: 238px;
    right: -33px;

    span {
      line-height: 12px;
      float: right;
      position: relative;

      &:before {
        content: '';
        position: absolute;
        left: -22px;
        top: 0;
        height: 12px;
        width: 12px;
        background-color: #f8f9f9;
        margin-right: 10px;
      }
    }
  }

  .score, .note, .retake, .scoring-info, .test-area {
    width: 100%;

    @media (min-width: 768px) {
      float: left;
      width: 50%;
    }
  }

  .col-2-3.score, .col-2-3.note, .col-2-3.retake, .col-2-3.scoring-info, .col-2-3.test-area {
    @media (min-width: 768px) {
      width: 66.66%;
    }
  }

  .col-1-3.score, .col-1-3.note, .col-1-3.retake, .col-1-3.scoring-info, .col-1-3.test-area {
    @media (min-width: 768px) {
      width: 33.33%;
    }
  }

  .test-area .zone-legend,
  .assessment-history .zone-legend {
    width: 100%;
    right: 0px;
  }

  .assessment-history .zone-legend {
    right: 10px;
  }

  .assessment-history h3,
  .my-future-brain h3 {
    @media screen and (min-width: 992px) {
      margin-top: 0;
    }
  }

  .assessment-graph,
  .my-future-brain-graph {
    @media screen and (min-width: 992px) {
      margin-top: 30px;
    }
  }

  .cp-content-drawer {
    border-bottom: 1px solid #ECECEC;
    clear: both;

    @media screen and (min-width: 992px) {
      padding-top: 0;
    }

    > section {
      width: 100%;
      max-width: 725px;
      margin: 0;
      padding-left: 0;
      padding-right: 0;
      margin-bottom: 0px;

      &:first-of-type {
        border-bottom: 0;
      }

      p:first-child {
        padding-top: 0;
      }

      .toggleCaret {
        display: inline-block;
        margin-top: 10px;
        margin-bottom: 5px;
      }

      .zone-legend {
        max-width: 462px;
        right: 10px;
        width: 100%;

        @media screen and (min-width: 768px) {
          max-width: 470px;
          right: 0;
        }
      }

      figure {
        height: 273px;
        overflow: hidden;
        transition: opacity 100ms;
      }

      .indicie-graph-wrap {
        max-width: 480px;
        max-height: 273px;
      }
    }
  }

  .note {
    font-size: 12px;
    font-weight: 600;
    max-width: 170px;

    @media screen and (min-width: 768px) {
      max-width: 100%;
    }
  }

  .score,
  .note,
  .retake {
    width: 50%;
    float: left;
  }

  .score {
    width: 180px;

    @media screen and (min-width: 768px) {
      width: 50%;
    }

    h3 {
      position: relative;
      font-size: 48px;
      font-weight: 600;
      color: #59A956;
      margin: 5px 0;
    }

    span {
      position: absolute;
      width: 50px;
      left: 84px;
      top: 15px;
      color: #5A5E61;
      font-size: 12px;
    }
  }

  h3.score {
    @media screen and (min-width: 768px) {
      margin: 5px 0 15px;
    }
  }

  .container > .summary {
    padding-top: 12px;

    @media screen and (min-width: 768px) {
      padding-top: 40px;
      padding-bottom: 35px;
    }

    h4 {
      @media screen and (min-width: 992px) {
        margin-top: 0px;
      }
    }
  }

  .scoring-info {
    min-width: 300px;
    float: left;

    &:first-child,
    &:nth-child(3) {
      @media screen and (min-width: 768px) {
        padding-right: 5%;
      }

      @media screen and (min-width: 992px) {
        padding-right: 31px;
      }
    }

    &:first-child,
    &:nth-child(2) {
      @media screen and (min-width: 992px) {
        padding-bottom: 35px;
      }
    }

    &:nth-child(2),
    &:last-child {
      @media screen and (min-width: 768px) {
        padding-left: 5%;
      }

      @media screen and (min-width: 992px) {
        padding-left: 31px;
      }
    }

    &:nth-child(odd) {
      clear: left;
    }


    h4 {
      margin-top: 25px;

      @media screen and (min-width: 768px) {
        margin-top: 10px;
      }
    }

    &.with-action {
      width: 100%;
      bottom: 0;

      @media screen and (min-width: 768px) {
        height: auto;
        width: 50%;
        position: static;
      }

      .note {
        width: 100%;

        p {
          float: left;

          @media screen and (min-width: 768px) {
            float: left;
          }

          @media screen and (min-width: 992px) {
            max-width: 70%;
          }
        }
      }

      .note, .retake {
        @media screen and (min-width: 768px) {
          width: 50%;
        }
      }
    }

    .note {
      p {
        @media screen and (min-width: 992px) {
          max-width: 90%;
        }
      }
    }

    p {
      &:last-child {
        @media screen and (min-width: 768px) {
          margin-bottom: 0;
        }
      }
    }

    ul {
      padding-left: 15px;

      @media screen and (min-width: 768px) {
        padding-left: 15px;
      }

      @media screen and (min-width: 992px) {
        padding-left: 18px;
      }
    }

    .score {

      @media screen and (min-width: 992px) {
        width: 50%;
      }

      h3 {
        @media screen and (min-width: 992px) {
          margin: -10px 0 0;
        }
      }
    }
  }

  .retake .btn {
    float: left;
    margin-top: 0;
    margin-bottom: 0;

    @media screen and (min-width: 768px) {
      margin-top: 0px;
      float: left;
    }

    @media screen and (min-width: 992px) {
      float: right;
    }
  }

  .test-area {
    min-width: 300px;
    float: left;

    &:first-child {
      @media screen and (min-width: 768px) {
        padding-right: 5%;
      }

      @media screen and (min-width: 992px) {
        padding-right: 31px;
      }
    }

    &:last-child {
      margin-top: 20px;

      @media screen and (min-width: 768px) {
        padding-left: 5%;
        margin-top: 0;
      }


      @media screen and (min-width: 992px) {
        padding-left: 31px;
      }
    }

    header {
      margin-bottom: 16px;

      @media screen and (min-width: 768px) {
        min-height: 161px;
        margin-bottom: 11px;
      }

      @media screen and (min-width: 992px) {
        min-height: 140px;
      }
    }

    img {
      max-width: 100%;
    }

    .bar-graph {
      height: 256px;
    }

    h3 {
      @media screen and (min-width: 992px) {
        margin-top: 0px;
      }
    }
  }

  .assessment-graph-wrap {
    height: 350px;
  }

  .cp-assessment-results.detail > section > header {
    padding-top: 0px;
  }

  .cp-assessment-results.detail > section > header h3 {
    margin-top: 22px;
    margin-bottom: 15px;
  }

  .waiting {
    opacity: 0;
  }
}
