ss-side-nav {
  display: block;
  position: fixed;
  top: 0;
  left: 150%;
  height: 100%;
  width: 90%;
  min-width: 600px;
  transition: all 0.7s ease-in-out;
  z-index: 1000;
  pointer-events: auto;
}

.side-nav-open {
  background: $white;
  width: 100%;
  min-width: 280px;
  left: 0%;
  transition: all 0.5s ease-in-out;
  overflow: scroll;

  @media screen and (min-width: 768px) {
    min-width: 300px;
    left: 60%;
  }
}
