<div class="cp-content-group related-content" ng-if="vm.articles.length > 0 || vm.activities.length > 0">
  <section class="container">
    <header>
      <h3>Similar to This:</h3>
    </header>
    <article>
      <div class="card-holder">
         <ss-card ng-repeat="card in vm.articles" ss-card-for="card"></ss-card>
      </div>
      <div permission only="'unpaid'" ng-repeat="row in vm.unpaidArticles">
        <div class="card-holder">
           <ss-card ng-repeat="card in row" ss-card-for="card"></ss-card>
        </div>
      </div>
      <div class="card-holder" permission only="'paid'">
        <ss-card ng-repeat="card in vm.activities" ss-card-for="card"></ss-card>
      </div>
    </article>
  </section>
</div>
