<ss-modal>
  <div class="content saved">
    <div class="header">
      <button class="close" aria-label="Close" ng-click="vm.closeModal()">
        <span aria-hidden="true">×</span>
      </button>
      <div class="header-content">
        <h3>{{vm.resourceName | capitalize}} Saved</h3>
      </div>
    </div>
    <div class="body">
      <p>Find it any time in “Saved {{vm.pluralResourceName | capitalize}}” section of My Staying Sharp.</p>
    </div>
    <div class="footer">
      <button
        ng-if="vm.explorePath"
        ui-sref="{{vm.explorePath}}"
        class="btn">

        Explore More {{vm.pluralResourceName | capitalize}}
      </button>
      <a
        ng-if="vm.stayingSharpPath"
        ui-sref="{{vm.stayingSharpPath}}">

        Go to Saved {{vm.pluralResourceName | capitalize }}
      </a>
    </div>
  </div>
</ss-modal>
