.cp-reviews {
  background-color: white;

  > .container {
    padding-top: 15px;

    @media screen and (min-width: 768px) {
      padding-top: 35px;
    }
  }

  h3 {
    margin-top: 0;
  }

  h4 {
    margin-bottom: 6px;

    @media screen and (min-width: 768px) {
      margin-bottom: 16px;
    }
  }

  p {
    width: 100%;

    @media screen and (min-width: 768px) {
      width: 85%;
    }
  }

  header {
    h4 {
      float: left;
      margin-bottom: 14px;

      @media screen and (min-width: 768px) {
        margin-bottom: 24px;
      }
    }

    .toggle-carret {
      float: right;
      clear: none;
      position: relative;
      width: 157px;
      text-align: right;
      text-decoration: underline;
      cursor: pointer;
      color: $grey-darker;
      font-size: 13px;
      font-weight: 600;
      margin-top: 25px;
      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
      .circle {
        border: 2px solid $grey-darker;
        border-radius: 50%;
        padding: 6px;
        position: absolute;
        left: 0;
        top: -34%;
      }
    }
  }

  footer {

    @media screen and (min-width: 768px) {
      padding-top: 10px;
    }

    p {
      color: #8E8E8E;
    }
  }

  form {
    a {
      &.btn {
        color: $white;
      }
    }
  }

  .reviews-container {
    padding-top: 70px;
  }

  .comment {
    margin-top: 20px;
  }

  label {
    display: inline;

    &:hover {
      cursor: pointer;
    }
  }

  .form-wrap {
    width: 100%;
    padding: 0;
    padding-bottom: 5px;

    @media screen and (min-width: 768px) {
      padding-top: 5px;
    }
  }

  .form-row {
    width: 100%;
    float: left;

    @media screen and (min-width: 768px) {
      width: auto;
      float: none;
    }

    &:first-of-type {
      @media screen and (min-width: 768px) {
        margin-right: 40px;
      }
    }
  }

  input[type="radio"] {
    margin-right: 8px;
  }

  input[type="radio"] {
    height: 20px;
    width: 20px;
  }

  textarea {
    resize: none;
    width: 100%;
    border: 1px solid #ECECEC;
    padding-top: 8px;
    padding-bottom: 8px;
    max-width: 757px;
    margin-top: 5px;
  }

  input {
    margin-left: 0;
    position: relative;
    top: 3px;
  }

  .btn {
    margin-top: 20px;

    @media screen and (min-width: 768px) {
      margin-bottom: 5px;
    }
  }

  .review {
    border-top: 1px solid #ECECEC;
    padding: 2px 0;

    @media screen and (min-width: 768px) {
      padding: 22px 0;
    }
  }
}
