<div class="cp-reviews">
  <div class="container">

    <header>
      <h3>{{ vm.recommendPercentage() }} Liked This:</h3>
      <ng-transclude></ng-transclude>

      <form ng-hide="vm.userHasReviewed()" ng-submit="vm.submitReview()">
        <span class="form-row">
          <input type="radio" name="recommend" ng-value="true" id="yes" ng-model="vm.recommend">
          <label for="yes">Yes, I liked this</label>
        </span>

        <span class="form-row">
          <input type="radio" name="recommend" ng-value="false" id="no" ng-model="vm.recommend">
          <label for="no">No, I didn't like this</label>
        </span>

        <div class="comment">
          <label for="comment">Write a review (Optional):</label><br>
          <textarea id="comment" ng-model="vm.comment"></textarea>
        </div>

        <button class="btn" type="submit">Submit Review</button>
      </form>
    </header>

    <article class="review" ng-repeat="review in vm.reviews">
      <h4>{{review.user.firstName}} {{review.user.lastName}}</h4>
      <p>{{review.comment}}</p>
      <footer>
        <p><span class="icon-recommend"></span></p>
      </footer>
    </article>

  </div>
</div>
