<div>
  <div class="modal subscribe-modal">
    <div class="content">
      <div class="header">
        <button class="close" aria-label="Close" ng-click="close()">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="body">
        <p>Welcome! We’re excited you’re taking the time to explore the new Staying Sharp. We are in BETA right now, making new additions and improvements to the platform on a daily basis. This may impact how the platform operates so bear with us as we work to bring you a great Staying Sharp experience.</p>
        <p>If you have any questions or concerns about your experience, please reach out to us via the contact form on our FAQs page.</p>
      </div>
      <div class="footer">
        <button ng-click="close()" class="btn btn-primary">Explore Now</button>
      </div>
    </div>
  </div>
  <div class="modal-cellophane"></div>
</div>
