<ss-update-meta
  ss-title="{{vm.recipe.seoTitle}}"
  ss-description="{{vm.recipe.seoDescription}}"
  ss-keywords="{{vm.recipe.keywords}}"
  ss-robots="{{vm.recipe.robots}}"
  ss-canonical-url="{{vm.recipe.canonicalUrl}}">
</ss-update-meta>

<div
  ng-style="{'background-image':'url(' + vm.mastHeadImage + ')'}"
  class="cp-lead-in-detail">

  <section>
    <div class="container">
      <div class="info-block">
        <header>
          <h5>{{vm.topLeft}}</h5>
          <span ng-if="vm.topRight">{{vm.topRight}}</span>
        </header>
        <article>
          <h2 class="ellipsis">
            {{vm.mastHeadTitle}}
          </h2>
        </article>
        <div class="pillars" ss-pillars-display="vm.pillars"></div>
      </div>
      <footer>
        <div class="effort"><span>{{vm.lowerLeft}}</span></div>
        <div class="action-items">
          <ss-save-user-content
            ng-if="$root.$currentUser && vm.recipe"
            ss-display-type="button"
            ss-is-user-namespace="vm.isUserNamespace"
            ss-item="vm.recipe"
            ss-resource="vm.userResource"
            ss-is-saved="vm.isSaved"
            ss-plural-resource-name="vm.pluralResourceName">
          </ss-save-user-content>
          </a>
        </div>
      </footer>
    </div>
  </section>
</div>

<div class="cp-content-detail">
  <section class="container">
    <article>
      <div class="detail-text" ng-bind-html="vm.section1Body" ></div>
    </article>
  </section>
</div>

<div class="cp-content-group recipe">
  <section class="container">
    <header>
      <h3>{{vm.contentTitle}}</h3>
      <span class="effort">{{vm.contentSubtitle}}</span>
      <hr>
    </header>
    <article ng-repeat-start="(subheader, article) in vm.content">
      <h4>{{subheader}}</h4>
      <p ng-bind-html="article"></p>
    </article>
    <hr ng-repeat-end="">
    <footer>
      <h4>Interested saving or sharing this recipe?</h4>
      <ss-save-user-content
        ng-if="$root.$currentUser && vm.recipe"
        ss-display-type="button"
        ss-is-user-namespace="vm.isUserNamespace"
        ss-item="vm.recipe"
        ss-resource="vm.userResource"
        ss-is-saved="vm.isSaved"
        ss-plural-resource-name="vm.pluralResourceName">
      </ss-save-user-content>
    </footer>
  </section>
</div>

<div class="cp-print-button">
  <section class="container">
    <div class="print">
      <a href="" onclick="window.print()">Print <span class="icon-print"></span></a>
    </div>
  </section>
</div>

<div class="cp-source-citation">
  <section class="container" data-ng-bind-html="vm.sourceMaterialsCitation">
  </section>
</div>

<ss-reviews
  ss-review-resource="vm.reviewResource"
  ss-resource='vm.resource'>
  <p>Did you find this recipe useful?</p>
</ss-reviews>

<ss-related-content
  ss-resource="vm.recipe">
</ss-related-content>
