<ss-modal>
  <div class="content">
    <div class="header">
      <a href="#" aria-label="Close" ng-click="vm.closeModal()">
        <span class="icon-close" ></span>
      </a>
      <div class="header-content">
        <h5>Share {{vm.resourceName}}</h5>
        <h3>{{vm.resourceTitle}}</h3>
        <span>{{vm.subheader}}</span>
      </div>
    </div>
    <div class="footer">
      <label>Share via:</label>

      <ss-social-links
              ss-page-url="vm.resourceURL"
              ss-title="vm.resourceTitle"
              ss-resource-name="vm.resourceName">
      </ss-social-links>
    </div>
  </div>
</ss-modal>