<div class="detail-activity-tracker {{ vm.activity.activityTracker.type}}">
  <section class="container">
    <header>
      <hgroup>
        <h3>Track When You Did This</h3>
        <button ng-class="{ tracked: vm.todayPeriod.isTracked }"
                ng-click="vm.editPeriod(vm.todayPeriod)">
          <span ng-if="!vm.todayPeriod.isTracked">Track Today</span>
          <span ng-if="vm.todayPeriod.isTracked" class="icon-check"></span>
        </button>
      </hgroup>
    </header>
    <div class="full-view" ng-switch="vm.activity.activityTracker.type">
      <ss-activity-tracker-binary
        ng-switch-when="binary"
        periods="vm.currentWeek"
        on-period-clicked="vm.editPeriod($period)">
      </ss-activity-tracker-binary>
      <ss-activity-tracker-quantity
        ng-switch-default
        periods="vm.currentWeek"
        on-period-clicked="vm.editPeriod($period)">
      </ss-activity-tracker-quantity>
    </div>
    <div class="snapshot">
      <div class="item" 
           ng-repeat="week in vm.periodsByWeek" 
           ng-click="vm.selectWeek(week)"
           ng-class="{ active: week == vm.currentWeek }">
        <div class="tracker">
          <ul>
            <li 
                ng-repeat="period in week"
                ng-class="{ tracked: period.isTracked }">
              <span>
                <span class="indicator"></span>
              </span>
            </li>
          </ul>
        </div>
        <figcaption>
          <span>Week {{$index + 1}}</span>
        </figcaption>
      </div>
    </div>
  </section>
</div>
