<div class="cp-card {{vm.cardClasses}}" style="background-image: url('{{vm.cardImage}}'); background-repeat: no-repeat;">
  <a ui-sref="{{vm.resourcePath}}"></a>
  <div class="color-fill"></div>
  <section>
    <div class="info-block">
      <header>
        <h5>{{vm.upperLeft}}</h5>
        <span ng-if="vm.upperRight">{{vm.upperRight}}</span>
      </header>
      <article>
        <h4><a ui-sref="{{vm.resourcePath}}">{{vm.cardTitle}}</a></h4>
        <div class="effort">
          <span>{{vm.lowerLeft}}</span>
        </div>
        <div class="proof">
          <span class="icon-recommend"></span>
          <span>{{vm.lowerRight}}</span>
        </div>
      </article>

      <footer ss-card-pillars="vm.pillars">
      </footer>
    </div>
  </section>
</div>
