<div>
  <div class="modal subscribe-modal">
    <div class="content">
      <div class="header">
        <button class="close" aria-label="Close" ng-click="close()">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="body">
        <p translate>{{bodyText}}</p>
      </div>
      <div class="footer">
        <button ng-click="authFunction(redirectPath, intcmp)" class="btn btn-primary" translate>{{buttonText}}</button>
        <span ng-if="!$root.$currentUser" ng-switch="resource">
          <small ng-switch-when="me">Not ready to join? <a ng-href="{{registerUrl}}">Create a free account</a> or <a href="#" ng-click="login()">login now</a></small>
          <small ng-switch-when="recipes">Already have an account? Click <a href="#" ng-click="login('/recipes')">here</a> to log in</small>
          <small ng-switch-when="activities">Already have an account? Click <a href="#" ng-click="login('/activities')">here</a> to log in</small>
          <small ng-switch-when="review">Already have an account? Click <a href="#" ng-click="login()">here</a> to log in</small>
          <small ng-switch-when="games">Already have an account? Click <a href="#" ng-click="login('/games')">here</a> to log in</small>
          <small ng-switch-when="articles">Already have an account? Click <a href="#" ng-click="login('/articles')">here</a> to log in</small>
        </span>
      </div>
    </div>
  </div>
  <div class="modal-cellophane"></div>
</div>
