<div>
  <div class="modal subscribe-modal">
    <div class="content">
      <div class="header">
        <button class="close" aria-label="Close" ng-click="close()">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="body">
        <p translate>{{bodyText}}</p>
      </div>
      <div class="footer">
        <button ng-click="authFunction(redirectPath)" class="btn btn-primary" translate>{{buttonText}}</button>
        <small>Not ready to join? </small>
        <small ng-hide="$root.$currentUser"><a ng-href="{{registerUrl}}">Create a free account </a></small>
        <small ng-hide="$root.$currentUser"><a href="#" ng-click="login()">or Log in here</a></small>
      </div>
    </div>
  </div>
  <div class="modal-cellophane"></div>
</div>
