<ss-lead-in
  lead-color="teal-navy"
  lead-image="banner-my-staying-sharp.jpg"
  lead-height="tall"
  lead-title="My Staying Sharp">
</ss-lead-in>

<ss-nav-tabs
  active-tab="assessments">
</ss-nav-tabs>

<ss-info-box ng-show="vm.showSystemMessaging">
  <div ng-if="vm.assessmentState === vm.states.notStarted">
    <h3 translate>info.assessments_system_message.not_started.headline</h3>
    <p translate>info.assessments_system_message.not_started.body_text</p>
    <a class="btn" ng-href="{{vm.subscribeUrl}}" translate>info.assessments_system_message.not_started.button_text</a>
    <div>
      <small>You can also choose to <a ng-click="vm.assessmentLink()" href="#">start the assessment now</a> and subscribe later to get your results.</small>
    </div>
  </div>
  <div ng-if="vm.assessmentState === vm.states.started">
    <h3 translate>info.assessments_system_message.started.headline</h3>
    <p translate>info.assessments_system_message.started.body_text</p>
    <a class="btn" ng-href="{{vm.subscribeUrl}}" translate>info.assessments_system_message.started.button_text</a>
    <div>
      <small>You can also choose to <a ng-click="vm.assessmentLink()" href="#">complete the assessment now</a> and subscribe later to get your results.</small>
    </div>
  </div>
  <div ng-if="vm.assessmentState === vm.states.completed">
    <h3 translate>info.assessments_system_message.completed.headline</h3>
    <p translate>info.assessments_system_message.completed.body_text </p>
    <a class="btn" ng-href="{{vm.subscribeUrl}}" translate>info.assessments_system_message.completed.button_text</a>
  </div>
</ss-info-box>

<div permission only="'paid'">
  <div class="card-holder container finish-assessment-box" ng-show="vm.showFinishAssessmentBanner">
    <div class="cp-card messaging-card">
      <section>
        <div class="box-body">
          <header>
            <span class="move icon-block">
              <span class="icon-move"></span>
            </span>
            <span class="discover icon-block">
              <span class="icon-discover"></span>
            </span>
            <span class="relax icon-block">
              <span class="icon-relax"></span>
            </span>
            <span class="nourish icon-block">
              <span class="icon-nourish"></span>
            </span>
            <span class="connect icon-block">
              <span class="icon-connect"></span>
            </span>
          </header>
          <article>
            <div class="content">
              <p translate permission only="'paid'">info.continue_assessment.paid</p>
              <a ui-sref="application.assessments" class="btn" permission only="'paid'">Finish Assessment</a>
            </div>
          </article>
        </div>
      </section>
    </div>
  </div>
</div>

<div permission only="'paid'">
  <div ng-show="vm.showAssessmentResults">
    <div ui-view></div>
  </div>
</div>
