<!-- For paid users -->
<section permission only="'paid'">
  <div ng-if="vm.ctaState !== null">
    <a class="btn green-btn wide-btn" href="#" ng-if="vm.hasFlash" ng-click="vm.assessmentLink()" translate>{{vm.paidCTAText()}}</a>
    <a class="btn green-btn wide-btn" href="#" ng-if="!vm.hasFlash" ng-click="vm.openRequiredTechnologyModal()" translate>{{vm.paidCTAText()}}</a>
  </div>
</section>
<!-- For paid users -->

<!-- For registered and anonymous users -->
<section permission only="'unpaid'">
  <div ng-if="vm.ctaState !== null">
    <div>
      <a class="btn green-btn wide-btn" ng-href="{{vm.subscribeUrl}}" translate>{{vm.unpaidCTAText().main}}</a>
    </div>

    <!-- For registered users -->
    <div ng-if="$root.$currentUser" class="cta-note">
      <a ng-if="vm.hasFlash" ng-click="vm.assessmentLink()" href="#" translate>{{vm.unpaidCTAText().sub}}</a>
      <a ng-if="!vm.hasFlash" ng-click="vm.openRequiredTechnologyModal()" href="#" translate>{{vm.unpaidCTAText().sub}}</a>
    </div>

    <!-- For anonymous users -->
    <div ng-if="vm.ctaState === vm.assessmentStates.anonymous" class="cta-note">
      <a ng-click="vm.assessmentLink()" href="#">or, create a free account to take the assessment now and join later to see your results</a>
    </div>
  </div>
</section>
<!-- For registered and anonymous users -->
