<!-- For paid users -->
<section permission only="'paid'">
  <div ng-if="vm.ctaState !== null">
    <a class="btn green-btn wide-btn" href="#" ng-if="vm.hasFlash" ng-click="vm.assessmentLink()" translate>{{vm.paidCTAText()}}</a>
  </div>
</section>
<!-- For paid users -->

<!-- For registered and anonymous users -->
<section permission only="'unpaid'">
  <div ng-if="vm.ctaState !== null">
    <div>
      <a class="btn green-btn wide-btn" ng-href="{{vm.subscribeUrl}}" translate>{{vm.unpaidCTAText()}}</a>
    </div>

    <!-- For registered users -->
    <div ng-if="$root.$currentUser" class="cta-note">
      <span ng-if="vm.ctaState == vm.states.notStarted">
        or, you can <a ng-click="vm.assessmentLink()" href="#">start now</a> and subscribe later to see your results
      </span>
      <span ng-if="vm.ctaState == vm.states.started">
        or, you can <a ng-click="vm.assessmentLink()" href="#">complete your assessment</a> now and subscribe later to see your results
      </span>
      <span ng-if="vm.ctaState == vm.states.completed">
        or, you can <a ng-click="vm.assessmentLink()" href="#">retake now</a> and subscribe later to see your new results
      </span>
    </div>

    <!-- For anonymous users -->
    <div ng-if="vm.ctaState === vm.assessmentStates.anonymous" class="cta-note">
      <a ng-click="vm.assessmentLink()" href="#">Create a free account</a> to take the assessment now and subscribe later to see your results
    </div>
  </div>
</section>
<!-- For registered and anonymous users -->
