<div class="cp-pillar-filter cp-pillar-filter-score">
  <section class="container">
    <p>What I've worked on:</p>
    <ul class="pillar-list">
      <!-- TODO plug in actual values -->
      <li><span class="pillar pillar-red"><span class="score">14</span>Move</span></li>
      <li><span class="pillar pillar-orange"><span class="score">5</span>Discover</span></li>
      <li><span class="pillar pillar-yellow"><span class="score">3</span>Relax</span></li>
      <li><span class="pillar pillar-blue-medium"><span class="score">20</span>Nourish</span></li>
      <li><span class="pillar pillar-blue-dark"><span class="score">4</span>Connect</span></li>
    </ul>
    <ul class="info-button-wrap">
      <li class="info-button">
        <a data-toggle="modal" data-target="#userMessageModal" href="" title="">
            <div class="info"><span class="icon-info"></span></div>
        </a>
      </li>
    </ul>
  </section>
</div>
