<div class="cp-pillar-filter cp-pillar-filter-score">
  <section class="container">
    <p>What I've worked on:</p>
    <ul class="pillar-list">
      <li ng-repeat="pillar in vm.pillars">
        <span class="pillar {{pillar.slug | hyphenate}}">
          <span class="score">{{$index + 4}}</span>
          {{pillar.displayName}}
        </span>
      </li>
    </ul>
    <ul class="info-button-wrap">
      <li class="info-button">
        <a ui-sref=".pillar-info">
            <div class="info"><span class="icon-info"></span></div>
        </a>
      </li>
    </ul>
  </section>
</div>
