.cp-pillar-filter {
  padding-top: 10px;
  padding-bottom: 10px;
  background: $white;
  border-bottom: 1px solid $grey-border;

  @media screen and (min-width: 768px) {
    padding-top: 20px;
    padding-bottom: 5px;
  }

  p {
    margin-bottom: 0;

    @media screen and (min-width: 768px) {
      display: inline;
      float: left;
      padding-right: 20px;
    }
  }

  ul {
    padding-left: 0;
    list-style: none;

    @media screen and (min-width: 768px) {
      position: relative;
    }

    @media screen and (min-width: 992px) {
      margin-left: 0;
    }
  }

  li {
    display: inline;

    @media screen and (min-width: 768px) {
      display: inline;
      margin-right: 5px;
    }
  }

  span.divider {
    margin-left: 5px;
    margin-right: 8px;
    vertical-align: middle;
    border-right: 1px solid $grey-light;
  }

  .pillar {
    margin-right: 0;
    margin-bottom: 7px;
  }

  span.all-options {
    background-color: $metal;
    color: $white;
  }

  .btn-group {
    width: 100%;
  }

  button {
    background: $white;
    width: 100%;
    border: 1px solid $grey-border;
    border-radius: 1px;
    color: $black;
    text-align: left;

    &.dropdown-toggle {
      font-size: 14px;
      border: 1px solid $grey-border;
      border-radius: 4px;
      color: $grey-dark;
    }
  }

  .dropdown-menu {
    width: 100%;

    li a {
      padding: 4px 15px;

      &:hover {
        color: $white;
        background: $link-color;
      }
    }
  }

  .chevron-down {
    background-image: url('assets/images/icon-chevron-down.svg');
    display: inherit;
    width: 19px;
    height: 12px;
    float: right;
    margin-top: 5px;
  }

  a {
    @media screen and (min-width: 768px) {
      padding-left: 1px;
      border-bottom: 4px solid transparent;
    }

    &:hover, &:focus, .active {
      @media screen and (min-width: 768px) {
        padding-bottom: 20px;
      }
    }

    &:hover, &:focus{
      &.all-options {
        @media screen and (min-width: 768px) {
          border-color: $metal;
        }
      }
    }

    &:hover, &:focus{
      &.move, &.keeping-fit {
        @media screen and (min-width: 768px) {
          border-color: $red;
        }
      }
    }

    &:hover, &:focus {
      &.discover, &.learning-more {
        @media screen and (min-width: 768px) {
          border-color: $orange;
        }
      }
    }

    &:hover, &:focus {
      &.relax, &.managing-stress {
        @media screen and (min-width: 768px) {
          border-color: $yellow;
        }
      }
    }

    &:hover, &:focus {
      &.nourish, &.eating-right {
        @media screen and (min-width: 768px) {
          border-color: $fountain-blue;
        }
      }
    }

    &:hover, &:focus {
      &.connect, &.being-social {
        @media screen and (min-width: 768px) {
          border-color: $grey-blue;
        }
      }
    }
  }

  li.info-button {
    position: absolute;
    right: 0;
    top: -20px;
  }

  &.cp-pillar-filter-score {
    border-radius: 2px;
    padding: 20px 0;
    margin-left: 15px;
    margin-right: 15px;

    @media screen and (min-width: 768px) {
      margin: 0 auto;
    }

    > .container {
      @media screen and (min-width: 768px) {
        padding-left: 15px;
        padding-right: 15px;
      }
    }

    p {
      margin-bottom: 10px;

      @media screen and (min-width: 768px) {
        margin-top: 4px;
        margin-bottom: 0;
      }
    }

    .pillar {
      margin-bottom: 0;
      padding: 6px 10px 9px;
      margin-bottom: 5px;

      @media screen and (min-width: 992px) {
        margin-bottom: 0;
      }
    }

    ul {
      margin-bottom: 0;
    }

    .pillar-list {
      width: 100%;
      display: inline;
      float: left;

      @media screen and (min-width: 768px) {
        width: 60%;
        display: inline;
        float: left;
      }

      @media screen and (min-width: 992px) {
        width: 70%;
        display: inline;
        float: left;
      }
    }

    .score {
      font-size: 18px;
      font-weight: 400;
      padding-right: 8px;
      padding-left: 0;
      position: relative;
      top: 2px;
    }

    .info-button-wrap {
      position: absolute;
      right: 0;
      float: right;
      margin: -20px 0;

      @media screen and (min-width: 768px) {
        position: relative;
      }
    }

    .info-button a:hover {
      border: none;
    }
  }
}

.pillar {
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  line-height: 12px;
  color: white;
  background-color: $grey-light;
  padding: 5px 10px;
  text-align: center;
  margin-right: 5px;
  border-radius: 1px;

  &.being-social, &.pillar-blue-dark {
    background-color: $grey-blue;
  }

  &.eating-right, &.pillar-blue-medium {
    background-color: $fountain-blue;
  }

  &.keeping-fit, &.pillar-red {
    background-color: $red;
  }

  &.learning-more, &.pillar-orange {
    background-color: $orange;
  }

  &.managing-stress, &.pillar-yellow {
    background-color: $yellow;
  }
}

/* IE specific styles */
.ie .pillar {
  padding-top: 3px;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .pillar {
    padding-top: 3px;
  }
}

.pillar-description {

  h4 {
    margin: -4px 0 3px;
  }

  ul {
    margin: 30px 0 0 0;
    padding: 0;
  }

  li {
    list-style-type: none;
    clear: left;
    margin-top: 20px;

    &:first-child {
      margin-top: 0px;
    }
  }

  .pillar-info {
    float: left;
    width: 70%;
  }

  .icon-block {
    float: left;
    padding: 14px 0;
    text-align: center;
    width: 50px;
    margin-right: 20px;
    border-radius: 2px;
  }

  [class^="icon-"],
  [class*=" icon-"] {
    font-size: 38px;
    line-height: 22px;
  }
}
