<ss-modal>
  <div class="content">
    <div class="header">
      <a href="#" aria-label="Close" ng-click="vm.closeModal()">
        <span class="icon-close" ></span>
      </a>
    </div>

    <div class="body">
      <p><b>Move:</b> Studies show that even small amounts of regular exercise like walking can positively impact brain health.</p>
      <p><b>Discover:</b> Research shows that trying new things, like learning a language or starting a new hobby, strengthens our brains.</p>
      <p><b>Relax:</b> Several studies indicate sleep and stress management improve brain health.</p>
      <p><b>Nourish:</b> Science shows that certain elements in food – from omega-3 fatty acids to vitamin E – can positively impact brain health.</p>
      <p><b>Connect:</b> Research shows that staying socially connected to other people supports a healthy brain.</p>
    </div>
  </div>
</ss-modal>
