<div class="cp-pillar-filter hidden-xs">
  <section class="container">
    <p>Filter by:</p>
    <ul>
      <li>
        <a href="" ui-sref="{ pillar: 'all' }" class="all-options" ui-sref-active="active">
          <span class="pillar all-options">ALL</span>
        </a>
      </li>
      <li class="hidden-xs"><span class="divider"></span></li>
      <li ng-repeat="pillar in vm.otherPillars">
        <a class="{{ 'ss-dtm-' + pillar.slug + '-pillar' | hyphenate }} {{ pillar.slug | hyphenate }}"
           ui-sref="{ pillar: pillar.slug }"
           ui-sref-active="active">
          <span class="pillar {{ pillar.slug | hyphenate }}">{{ pillar.displayName }}</span>
        </a>
      </li>
      <li class="info-button">
        <a ui-sref=".pillar-info">
          <div class="info"><span class="icon-info"></span></div>
        </a>
      </li>
    </ul>
  </section>
</div>

<!-- Mobile ONLY -->
<div class="cp-pillar-filter visible-xs">
  <section class="container">
    <div class="btn-group">
      <!-- TODO apply proper classes / styling -->
      <select
        name="pillar-filter-select"
        ng-options="pillar.displayName for pillar in vm.pillars track by pillar.id"
        ng-model="vm.selectedPillar">
      </select>
    </div>
  </section>
</div>
