<div class="item">
  <div class="data full">
    <div class="tracker">
      <ul>
        <li ng-repeat="period in vm.periods" ng-class="{ tracked: period.isTracked }">
          <span class="bar"
                title="{{period.activityTrackerResponses[0].response}}"
                ng-if="period.isTracked"
                ng-click="vm.periodClicked({ $period: period })">
            <span class="fill"
                  ng-style="vm.periodHeight(period.activityTrackerResponses[0].response)">
            </span>
          </span>
          <div class="indicator" ng-if="!period.isTracked" ng-class="{ disabled: vm.isFuturePeriod({ $period: period }) }">
            <span class="icon-plus"
                  ng-click="vm.periodClicked({ $period: period })">
            </span>
          </div>
          <label>{{period.date.format('dd')}}</label>
        </li>
      </ul>
    </div>
    <figcaption>
      <div class="value-scale">
        <ul>
          <li class="max">{{vm.activityResponseMax()}}</li>
          <li class="min">0</li>
        </ul>
      </div>
      <p>
        <span class="week">Week {{vm.currentWeekNumber}}</span>
      </p>
    </figcaption>
  </div>
</div>
