<div
  ng-repeat="item in vm.shownItems"
  ng-if="$index % vm.perRow == 0"
  class="card-holder container article-holder">

  <ss-user-dashboard-card
    ng-repeat="card in vm.itemsInRow($parent.$index, vm.shownItems)"
    ss-card-for="card"
    ss-card-classes="vm.cardClasses"
    ss-resource="vm.resource"
    ss-items="vm.items">
  </ss-user-dashboard-card>

  <ss-encouragement-message
    ng-if="vm.showInlineEncouragementMessage($parent.$index)"
    ss-resource="vm.resource">
  </ss-encouragement-message>
</div>
<div class="card-holder container article-holder"
     ng-if="vm.showStandAloneEncouragementMessage()">
  <ss-encouragement-message
    ss-resource="vm.resource">
  </ss-encouragement-message>
</div>
