<section class="side-nav-header">
  <div class="profile-details">
    <ul>
      <li>
        <span ng-if="$root.$currentUser.isLoggedIn">Hello, {{$root.$currentUser.firstName}}</span>
        <span ng-if="!$root.$currentUser.isLoggedIn">Welcome!</span>
      </li>
      <li>
        <button type="button" class="navbar-menu-toggle icon-close" ng-click="vm.close()">
          <span class="sr-only">Toggle navigation</span>
        </button>
      </li>
    </ul>
    <ul class="account-controls">
      <li>
      <a ng-if="$root.$currentUser.isLoggedIn" ui-sref="logout">Logout</a>
      <a ng-if="!$root.$currentUser.isLoggedIn" ng-href="{{vm.loginUrl}}">Login</a>
      </li>
      <li class="bullet">•</li>
      <li>
      </li>
    </ul>
  </div>
</section>
<div class="slide-menu-options" ng-switch="vm.currentRoute">
  <section ng-switch-when="root">
    <ul class="primary-nav-options">
      <li class="primary-level" ng-click="explore=!explore" ng-class="{active:explore}">
        <a href="#">Explore <span class="caret" ng-class="{'caret-down':!explore,'caret-up':explore}"></span></a>
        <ul class="tertiary-level">
          <li><a ui-sref="application.home" ng-click="vm.close()">All Content</a></li>
          <li><a ui-sref="application.articles" ng-click="vm.close()">Articles</a></li>
          <li><a ui-sref="application.recipes" ng-click="vm.close()">Recipes</a></li>
          <!-- TODO: only allow paid users to see actitivies -->
          <li><a ui-sref="application.activities" ng-click="vm.close()">Activities</a></li>
          <li><a ui-sref="application.games" ng-click="vm.close()">Games</a></li>
        </ul>
      </li>
      <li class="primary-level">
        <a ui-sref="application.user.working-on" ng-click="vm.close()">My Staying Sharp</a>
      </li>
      <li class="tertiary-level">
        <ul>
          <li>
            <a ui-sref="application.user.working-on" ng-click="vm.close()"><span class="icon icon-activities-stats"></span>What I'm Working On</a>
          </li>
          <li>
            <a ui-sref="application.user.recipes" ng-click="vm.close()"><span class="icon icon-saved-recipes"></span>Saved Recipes</a>
          </li>
          <li>
            <a ui-sref="application.user.articles" ng-click="vm.close()"><span class=" icon icon-saved-articles"></span>Saved Articles</a>
          </li>
          <li>
            <a ui-sref="application.user.assessments.overall" ng-click="vm.close()"><span class="icon icon-assessment-results"></span>Saved Assessments</a>
          </li>
          <li>
            <a ui-sref="application.user.games" ng-click="vm.close()"><span class="icon icon-saved-games"></span>Saved Games</a>
          </li>
        </ul>
      </li>
      <li class="primary-level">
        <a ui-sref="application.assessments" ng-click="vm.close()">Assessments</a>
      </li>
      <li class="primary-level" ng-click="howitworks=!howitworks" ng-class="{active:howitworks}">
        <a href="#">
          How It Works <span class="caret" ng-class="{'caret-down':!howitworks,'caret-up':howitworks}"></span>
        </a>
        <ul class="tertiary-level">
          <li><a ui-sref="application.static.faq" ng-click="vm.close()">FAQs</a></li>
          <li><a ui-sref="application.static.what-is-staying-sharp" ng-click="vm.close()">What is Staying Sharp</a></li>
        </li>
      </li>
    </ul>
  </section>
</div>
