.side-nav-header {
  padding: 15px 0 15px 30px;
  border-bottom: 1px solid $grey-border;

  .profile-pic {
    display: inline-block;
    float: left;
    margin: 5px 10px 0 0;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    overflow: hidden;

    img {
      display: block;
      max-width: 100%;
    }
  }

  .profile-details {
    position: relative;
    width: 95%;

    @media screen and (min-width: 768px) {
      width: 75%;
      max-width: 295px;
    }
  }

  ul {
    padding: 0;
    margin: 0 0 0 -5px;
    list-style: none;
    position: relative;

    @media screen and (min-width: 768px) {
      margin: 0 0 0 -8px;
    }

    li {
      display: inline-block;
      padding-left: 5px;
      padding-right: 5px;

      @media screen and (min-width: 768px) {
        padding-left: 8px;
        padding-right: 8px;
      }
    }

    &.account-controls {
      li {
        font-size: 14px;

        &.bullet {
          color: $grey-light;
        }
      }
    }
  }

  .navbar-menu-toggle {
    color: $black;
    display: inline-block;
    margin: 0;
    position: absolute;
    right: 0;
    top: 0;
    padding: 2px 0 2px 0px;
    float: none;
    background: none;
    border: none;
  }
}

.slide-menu-options {
  padding-left: 30px;
}

.primary-nav-options {
  width: 75%;
  max-width: 295px;
  margin: 0;
  padding: 0;
  list-style: none;

  > li {
    border-bottom: 1px solid $grey-border;
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  li {
    padding: 0;
    margin: 0;

    a {
      display: block;
      cursor: pointer;
      padding: 15px 0;
      color: $text-color;
    }
  }

  .primary-level {
    a {
      font-size: 20px;
    }
  }

  .secondary-level {
    a {
      font-size: 14px;
    }
  }

  .tertiary-level {
    a {
      font-size: 14px;
      padding: 10px 0 8px 0;
      line-height: 1;

      .icon {
        padding-right: 10px;
      }
    }

    li:first-child a {
      padding-top: 15px;
    }

    li:last-child a {
      padding-bottom: 15px;
    }

    &.last {
      border: none;
    }
  }
}
