<section class="side-nav-header">
  <div class="profile-details">
    <ul>
      <li>
        <span ng-if="$root.$currentUser.isLoggedIn">Hello, {{$root.$currentUser.firstName}}</span>
        <span ng-if="!$root.$currentUser.isLoggedIn">Welcome!</span>
      </li>
      <li>
        <button type="button" class="navbar-menu-toggle icon-close" ng-click="vm.close()">
          <span class="sr-only">Toggle navigation</span>
        </button>
      </li>
    </ul>
    <ul class="account-controls">
      <li>
      <a ng-if="$root.$currentUser.isLoggedIn" ui-sref="logout">Logout</a>
      <a ng-if="!$root.$currentUser.isLoggedIn" href='' ng-click="vm.login()">Login</a>
      </li>
      <li class="bullet">•</li>
      <li>
        <a ng-if="$root.$currentUser.isLoggedIn" href="{{vm.accountUrl}}">Account</a>
      </li>
      <li ng-if="vm.isUserWithBilling()" class="bullet">•</li>
      <li ng-if="vm.isUserWithBilling()">
        <a href="{{vm.billingUrl}}">Billing</a>
      </li>
    </ul>
  </div>
</section>
<div class="slide-menu-options" ng-switch="vm.currentRoute">
  <section ng-switch-when="root">
    <ul class="primary-nav-options">
      <li class="primary-level"

          ng-class="{active: !explore, default: explore}">
        <a href="#" ng-click="explore = !explore">
          Explore <span class="caret"
                    ng-class="{'caret-down': explore, 'caret-up': !explore}">
                  </span>
        </a>
        <ul class="tertiary-level">
          <li><a ui-sref="application.home" ng-click="vm.close()">
            <span class="icon icon-assessment-results"></span>All Content
          </a></li>
          <!-- TODO: only allow paid users to see actitivies -->
          <li>
            <a ui-sref="application.activities" ng-click="vm.close()" permission only="'paid'">
              <span class="icon icon-activities-stats"></span>Activities
            </a>
            <a ng-click="vm.showSubscribeModal('activities', '/activities', vm.subscribeGuard, 'SSS-JOINSS-POP-ACT')" permission only="'unpaid'">
              <span class="icon icon-activities-stats"></span>Activities
            </a>
          </li>
          <li><a ui-sref="application.articles" ng-click="vm.close()">
            <span class=" icon icon-saved-articles"></span>Articles
          </a></li>
          <li>
            <a ui-sref="application.recipes" ng-click="vm.close()" permission only="'paid'">
              <span class="icon icon-saved-recipes"></span>Recipes
            </a>
            <a ng-click="vm.showSubscribeModal('recipes', '/recipes', vm.subscribeGuard, 'SSS-JOINSS-POP-REC')" permission only="'unpaid'">
              <span class="icon icon-saved-recipes"></span>Recipes
            </a>
          </li>
          <li><a ui-sref="application.games" ng-click="vm.close()">
            <span class="icon icon-games"></span>Games
          </a></li>
        </ul>
      </li>
      <li class="primary-level">
        <a ui-sref="application.user.working-on" ng-if="$root.$currentUser" ng-click="vm.close()">My Staying Sharp</a>
        <a ng-if="!$root.$currentUser" ng-click="vm.showSubscribeModal('me', '/me/working-on', vm.subscribeGuard, 'SSS-JOINSS-POP-MYSS')">My Staying Sharp</a>
      </li>
      <li class="primary-level">
        <a ui-sref="application.assessments" ng-click="vm.close()">
          Take the Assessment
        </a>
      </li>
      <li class="primary-level" ng-click="howitworks=!howitworks" ng-class="{active:howitworks}">
        <a href="#">
          About Staying Sharp <span class="caret" ng-class="{'caret-down':!howitworks,'caret-up':howitworks}"></span>
        </a>
        <ul class="tertiary-level">
          <li><a href="https://stayingsharp.zendesk.com/home" ng-click="vm.close()">FAQs</a></li>
          <li><a ui-sref="application.static.what-is-staying-sharp" ng-click="vm.close()">What is Staying Sharp</a></li>
        </li>
      </li>
      <li permission only="'unpaid'"><a class="text-link" ng-href="{{vm.subscribeUrl}}">Join Staying Sharp</a></li>
    </ul>
  </section>
</div>
