<div class="cp-comments">
  <section>
    <header>
      <h3>50% Liked This:</h3>
      <article class="comment">
        <h4>Commenting User Name</h4>
        <p>
          Duis dignissim ad sagittis vestibulum, odio inceptos placerat velit neque,
          eleifend felis at. Nulla arcu a aliquam dolor, sociis ullamcorper, odio massa aliquam potenti.
        </p>
        <footer>
          <p>
            <span class="icon-recommend"></span>
            Yes, I liked this
          </p>
        </footer>
      </article>
      <article class="comment">
        <h4>Commenting User Name</h4>
        <p>
          Duis dignissim ad sagittis vestibulum, odio inceptos placerat velit neque,
          odio massa aliquam potenti.
        </p>
        <footer>
          <p>
            <span class="icon-dislike"></span>
            No, I disliked it
          </p>
        </footer>
      </article>
    </header>
  </section>
</div>