<p>Footer</p>

<ul>
  <li><%= link_to 'FAQ', page_path('faq') %></li>
  <li><%= link_to 'Terms of Service', page_path('terms_and_conditions') %></li>
  <li><%= link_to 'Privacy Policy', page_path('privacy') %></li>
</ul>
