<section class="info-box">
  <div
    ng-if="vm.items.length === 0"
    class="container">

    <div class="content">
      <h3>No cards found for the selected pillar</h3>
    </div>
  </div>
</section>

<div
  ng-repeat="item in vm.items"
  ng-if="$index % vm.perRow == 0"
  class="card-holder container article-holder">
  <ss-card
    ng-repeat="card in vm.itemsInRow($parent.$index, vm.items)"
    ss-card-for="card"
    ss-card-classes="vm.cardClasses"
    ss-is-user-namespace="vm.isUserNamespace"
    ss-items="vm.items"
    ss-last-item="vm.items.length - 1 === $index + $parent.$index && vm.completed"
    ss-resource="vm.resource">
  </ss-card>
</div>

<div class="info-box">
  <div class="container">
    <button
      class="btn"
      ng-show="vm.displayShowMore && !vm.completed"
      ng-click="vm.showMore()">
      Load more
    </button>
  </div>
</div>
