.cp-card {
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 2px;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  width: 93.75%;
  min-width: 300px;
  padding-top: 138px;
  position: relative;
  overflow: hidden;
  transition: background-size 250ms;

  @media screen and (min-width: 768px) {
    width: 100%;
    height: 340px;
    background-size: auto 100%;
    margin-top: 20px;
  }

  &:hover {
    @media screen and (min-width: 768px) {
      background-size: auto 102%;
    }

    .color-fill {
      opacity: 0.05;
    }
  }

  > section {
    padding: 10px;
    position: relative;
    z-index: 3;

    article {
      @media screen and (min-width: 768px) {
        position: relative;
      }
    }
  }

  .color-fill {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    background-color: $metal;
    opacity: 0.10;
    transition: opacity 200ms;
    z-index: 2;
  }

  header, article, footer > div {
    padding: 0 15px;
  }

  .info-block {
    background: rgba(255, 255, 255, 0.93);
    width: 100%;
    padding: 17px 0 10px;
    border-radius: 1px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);

    @media screen and (min-width: 768px) {
      height: 182px;
    }
  }

  p {
    font-size: 14px;
  }

  h4 {
    margin-top: 0;
    margin-bottom: 11px;

    a {
      color: inherit;
    }
  }

  header {
    @include clearfix;

    h5 {
      float: left;
      margin-top: 0;
      margin-bottom: 9px;
    }

    > span {
      float: right;
      font-size: 12px;
      font-weight: 600;
    }
  }

  article {
    @include clearfix;

    @media screen and (min-width: 768px) {
      height: 91px;
    }
  }

  .effort, .proof {
    font-size: 12px;
    font-weight: 600;
    margin-top: 10px;

    @media screen and (min-width: 768px) {
      position: absolute;
      bottom: 2px;
      margin-top: 0;
    }
  }

  .effort {
    float: left;

    @media screen and (min-width: 768px) {
      left: 15px;
    }
  }

  .proof {
    float: right;

    @media screen and (min-width: 768px) {
      right: 15px;
    }
  }

  .btn {
    width: 100%;
    margin-top: 16px;

    span {
      display: none;

      &:first-child {
        display: inline;
      }
    }

    &.tracked {
      span {
        display: inline;

        &:first-child {
          display: none;
        }
      }
    }
  }

  [class^="icon-"], [class*=" icon-"] {
    vertical-align: bottom;
    font-size: 19px;
    line-height: 16px;
  }

  .icon-recommend {
    font-size: 12px;
    line-height: 19px;
  }

  a {
    .icon-delete, .icon-settings, .icon-archive {
      color: $grey-medium;
    }

    .icon-delete:hover, .icon-delete:active, .icon-delete:focus,
    .icon-settings:hover, .icon-settings:active, .icon-settings:focus,
    .icon-archive:hover, .icon-archive:active, .icon-archive:focus {
      color: $grey-dark;
      cursor: pointer;
    }
  }

  footer {
    border-top: 1px solid $grey-light;
    margin-top: 7px;

    @media screen and (min-width: 768px) {
      margin-top: 5px;
    }
  }

  .options {
    border-top: 1px solid $grey-light;
    border-bottom: 1px solid $grey-light;
    padding-top: 8px;
    padding-bottom: 6px;

    a {
      float: right;
      margin-left: 8px;
      color: inherit;

      &:first-child {
        color: $link-color;
        float: left;
        margin-left: 0;
        font-size: 12px;
        font-weight: 600;

        &:hover {
          color: $grey-blue;
        }
      }
    }

    [class^="icon-"] {
      display: block;
      font-size: 18px;
    }
  }

  .pillars {
    clear: both;
    width: 100%;
  }

  .pillar {
    margin-top: 10px;
    vertical-align: top;
  }

  &.challenge-card {

    @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
      max-width: 350px;
    }

    > a {
      width: 100%;
      background-image: url("../images/challenge-overlay-left.svg"), url("../images/challenge-overlay-right.svg");
      background-position: left top, right top;
      background-repeat: no-repeat;
      opacity: 0.8;
    }
  }

  &.trackable-challenge-card {
    padding-top: 0;
    height: auto;
    max-width: 910px;

    .color-fill {
      transition: none;
      opacity: 1.0;
      background: url("../images/challenge-activity.svg");
      background-position: left top;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .info-block {
      height: auto;
    }

    .effort, .btn {
      width: 100%;
    }

    .effort {
      @media screen and (min-width: 768px) {
        width: auto;
        bottom: -1px;
      }
    }

    .proof {
      width: 100%;
    }

    .btn {
      float: right;
      text-align: center;

      @media screen and (min-width: 768px) {
        width: 105px;
      }
    }
  }

  &.featured-card {

    @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
      max-width: 350px;
    }

    h4 {
      @media screen and (min-width: 992px) {
        max-width: 400px;
        float: left;
      }
    }

    p {
      max-width: 390px;
      float: right;
      display: none;

      @media screen and (min-width: 992px) {
        display: inline;
      }
    }
  }

  &.article-card {
    padding-top: 148px;

    @media screen and (min-width: 768px) {
      width: 49%;
      height: 400px;
      margin-left: 2%;
      float: left;
      background-size: auto 100%;
    }

    &:nth-child(odd) {
      @media screen and (min-width: 768px) {
        margin-left: 0;
      }

      @media screen and (min-width: 992px) {
        margin-left: 20px;
      }
    }


    &:first-child {
      @media screen and (min-width: 992px) {
        margin-left: 0;
      }
    }

    &:hover {
      @media screen and (min-width: 768px) {
        background-size: auto 102%;
      }
    }

    .info-block {
      @media screen and (min-width: 768px) {
        height: 232px;
      }
    }

    article {
      @media screen and (min-width: 768px) {
        height: 141px;
      }
    }
  }

  &.recipe-card {
    padding-top: 108px;

    @media screen and (min-width: 768px) {
      width: 49%;
      margin-left: 2%;
      float: left;
      height: 300px;
      background-size: auto 100%;
    }

    &:hover {
      @media screen and (min-width: 768px) {
        background-size: auto 102%;
      }
    }

    &:nth-child(odd) {
      @media screen and (min-width: 992px) {
        margin-left: 20px;
      }
    }

    &:first-child {
      @media screen and (min-width: 992px) {
        margin-left: 0;
      }
    }

    h4 {
      @media screen and (min-width: 992px) {
        max-height: none;
        overflow: visible;
      }
    }

    article {
      @media screen and (min-width: 768px) {
        height: 81px;
      }
    }

    .info-block {
      @media screen and (min-width: 768px) {
        height: 172px;
      }
    }

    h4 {
      @media screen and (min-width: 768px) {
        max-height: 50px;
        overflow: hidden;
      }
    }
  }

  &.small-card {
    padding-top: 162px;
    background-size: cover;

    @media screen and (min-width: 768px) {
      width: 49%;
      margin-left: 2%;
      float: left;
      height: 365px;
      background-size: 100% auto;
    }

    @media screen and (min-width: 992px) {
      width: 300px;
      margin-left: 20px;
    }

    &:hover {
      @media screen and (min-width: 768px) {
        background-size: 102% auto;
      }
    }

    &:nth-child(odd) {
      @media screen and (min-width: 768px) {
        margin-left: 0;
      }
      @media screen and (min-width: 992px) {
        margin-left: 20px;
      }
    }

    &:first-child {
      @media screen and (min-width: 992px) {
        margin-left: 0;
      }
    }

    .info-block {
      @media screen and (min-width: 768px) {
        height: 183px;
      }
    }

    article {
      @media screen and (min-width: 768px) {
        height: 92px;
      }
    }
  }

  &.tracker-card {

    @media screen and (min-width: 768px) {
      height: 460px;
      padding-top: 97px;
    }

    .info-block {
      @media screen and (min-width: 768px) {
        height: 343px;
      }
    }

    article {
      @media screen and (min-width: 768px) {
        height: 66px;
      }
    }

    footer {
      margin-top: 17px;

      @media screen and (min-width: 768px) {
        margin-top: 7px;
      }
    }

    .effort, .proof {
      margin-top: 11px;
      position: static;

      @media screen and (min-width: 768px) {
        margin-top: 7px;
      }
    }
  }

  &.messaging-card {

    @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
      max-width: 350px;
    }

    &.small-card {
      height: auto;
      padding: 0;

      section {
        padding: 0px;
        border-radius: 2px;
      }

      .info-block {
        height: auto;
        padding-bottom: 26px;
        padding-top: 30px;
        border: 1px solid $grey-border;
        border-radius: 2px;
        box-shadow: none;
      }

      h4, a {
        text-align: center;
      }

      header {
        text-align: center;
        margin-bottom: 13px;

        .icon-block {
          float: none;
          padding: 9px 0;
          text-align: center;
          width: 40px;
        }

        [class^="icon-"], [class*=" icon-"] {
          font-size: 27px;
          line-height: 22px;
        }
      }

      article {
        text-align: center;
      }

      .btn {
        width: auto;
      }
    }
  }

  .icon-block {
    margin: 0 2px;
  }
}
