@font-face {
  font-family: 'icons';
  src: asset-url("azul7/icons.eot?1p2vxb");
  src: asset-url("azul7/icons.eot?#iefix1p2vxb") format("embedded-opentype"),
       asset-url("azul7/icons.ttf?1p2vxb") format("truetype"),
       asset-url("azul7/icons.woff?1p2vxb") format("woff"),
       asset-url("azul7/icons.svg?1p2vxb#icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

h1 {
  background-image: asset-url("azul7/staying-sharp.svg");
}
.cp-card.challenge-card > a {
  background-image: asset-url("azul7/challenge-overlay-left.svg"), asset-url("azul7/challenge-overlay-right.svg");
}
.cp-card.trackable-challenge-card .color-fill {
  background: asset-url("azul7/challenge-activity.svg");
}
.cp-pillar-filter .chevron-down {
  background-image: asset-url("azul7/icons/icon-chevron-down.svg");
}
.cp-call-out section.border-bg {
  background-image: asset-url("azul7/marketing-banner-bg.svg");
}